@import '../../../../sass/abstracts/variables';

.listContainer {
    padding: 2rem 1.5rem 2rem 1.5rem;
    &__header {
        font-size: 2.5rem;
        border-bottom: 1px solid $color-lines;
        padding-bottom: .5rem;

    }
}

.mySitesHome {
    padding: 2rem;

    &__header {
        font-size: 2.5rem;
        font-weight: 500;
        padding-bottom: .5rem;
        border-bottom: 1px solid $color-lines;

        font-family: $font-1-style;
        font-weight: $font-bold;
        color: $color-black;
    }

    &__diveSiteText {
        font-size: 1.8rem;

        font-family: $font-3-style;
        font-weight: $font-normal;
        color: $color-black;
    }

    &__diveShopText {
        font-size: 1.8rem;
        font-family: $font-3-style;
        font-weight: $font-normal;
        color: $color-black;

    }

    &__stepsContainer {
        padding: 2.5rem 0rem;
        display: flex;
        justify-content: space-around;
        .step {
            position: relative;
            background: linear-gradient(0deg, rgba(12,63,191,1) 0%, rgba(67,120,255,1) 100%);
            box-shadow: 2px 2px 5px rgba($color-black, .45);
            border-radius: 1rem;
            padding: 1.5rem 0rem;
            color: $color-white-pure;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 20rem;
            transition: .3s ease;

            &:hover {
                transform: scale(1.05);
                box-shadow: 2px 4px 7px rgba($color-black, .25);

            }

            &__number {
                font-size: 2rem;
                font-weight: 700;
                position: absolute;
                top: .25rem;
                left: 1rem;
            }

            &__icon {

            }

            &__text {
                width: 80%;
                text-align: center;
                padding-top: 1rem;
                font-size: 1.4rem;  
                font-weight: 500;
                font-family: $font-1-style;
                font-weight: $font-med;

            }
        }
    }
}

.addRequestContainer {
    padding: 5rem;

    &__header {
        font-size: 2.25rem;
        font-weight: 700;
    }

    &__instructions {
        padding-top: 2rem;
        font-size: 1.8rem;
        color: $color-black;
    }
}

.diveShopBtnContainer {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    
    .diveShopBtn {
        padding: 1.5rem 3rem;
        font-size: 1.6rem;
        font-weight: 500;
        border: 1px solid $color-white;
        background: $color-btn-primary;
        color: $color-white;
        border-radius: 5px;
        transition: .3s ease;
        box-shadow: 0px 0px 5px rgba($color-black, .25);
    
        &:hover {
            transform: translateY(-5px);
            box-shadow: 0px 5px 5px rgba($color-black, .25);
    
        }
    
        &:active {
            transform: translateY(-2px);
            box-shadow: 0px 3px 5px rgba($color-black, .25);
    
    
        }
    }
}
