@import '../../../sass/abstracts/variables';

.guestPanel {
    padding: 2rem 1.5rem 2rem 1.5rem;
    .topSection {
        border-bottom: 1px solid $color-lines;
        padding-bottom: 1rem;
        //padding-left: 1.5rem;
        &__totalSites {
            font-size: 1.8rem;

            font-family: $font-3-style;
            font-weight: $font-med;
            color: $color-text-darkergrey;

        }

        &__mapAreaText {
            font-size: 2.2rem;

            font-family: $font-1-style;
            font-weight: $font-bold;
            color: $color-black;
            padding-bottom: 1rem;
        }

        &__link { 
            font-size: 1.6rem;
            color: $color-text-darkgrey;
            font-family: $font-3-style;
            font-weight: $font-normal;

            &:hover {
                text-decoration: underline;
                color: $color-text-blue;
            }
        }

        &__linkActive {
            font-weight: $font-med;
        }

        &__seeLinkSpacer {
            padding: 0rem 1rem;
            font-size: 2.5rem;
            color: $color-text-darkgrey;

        }
    }

    .noResults {
        
    }

    .loadingContainer {
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        //background: red;
        width: 100%;

        &__text {
            font-size: 1.6rem;
            color: $color-black;
            font-family: $font-3-style;
            font-weight: $font-med;
        }
    }
}

