@import '../../../sass/abstracts/variables';

.guestPanel {
    padding: 2rem 1.5rem 2rem 1.5rem;
    .topSection {
        border-bottom: 1px solid $color-lines;
        padding-bottom: 1rem;
        //padding-left: 1.5rem;
        p {
            font-size: 1.6rem;
        }

        h3 {
            font-size: 2rem;
        }

        span { 
            font-size: 1.6rem;
            color: $color-text-darkgrey;

            &:hover {
                text-decoration: underline;
                color: $color-text-blue;
            }
        }
    }

    .noResults {
        
    }
}