.profilePage {
    width: 100%;
    height: auto;
    background-color: #576CD1;
}

.profilePageContainer {
    display: inline-block;
    margin: 0 auto;
    width: 60vw;
    height:auto;
    background-color: #DBE9EE;
    border-left: 2px solid #C0D6DF;
    border-right: 2px solid #C0D6DF;
}

.coverPhotoContainer {
    margin: 0 auto;
    padding-top: 2.5vw;
    width:100%;
    height: 150px;
    background-image: url('../../images/backgroundImages/bgImage004.jpg');
    background-position: center;
    background-size: cover;
}



.profileNameContainer {
    float:left;
    position: relative;
    width: 75%;
    height: 50px;
    text-align: left;
    justify-content: center;
    /* background-color: cornflowerblue; */
    margin-top: 25px;
    /* border: 2px solid green; */
}

.profileName {
    font-size: 48px;
    position: absolute;
    bottom: -10px;
    left: 0px;
    color:white;
}

.profilePictureContainer {
    float:left;
    /* border: 2px solid yellow; */
    margin-left: 15px;
    margin-top: 0px;
    /* background-color: chocolate; */
    width: 150px;
    height: 150px;
}

.overlayDiv {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50% ;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.5s ease;
}

.overlayDiv:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

.profilePicture {
    border-radius: 50%;
    border: 3px solid #C0D6DF;
    width: 100%;
    height: 100%;
}

.topHalfContainer {
    background-color: #313E50;
    padding-top: 10px;
    width: 100%;
    height: 125px;
    border-top: 2px solid #C0D6DF;
    border-bottom: 2px solid #C0D6DF;
}

.profileLocationContainer {
    float: left;
    padding-left: 5px;
    /* background-color: crimson; */
}

.profileLocation {
    font-size: 16px;
    color: white;

}

.profileSpanContainer {
    float:left;
    padding: 0px 5px;
    /* background-color: darkgoldenrod; */
}

.profileSpan {
    font-size: 16px;
    color: white;

}

.profileLicenseContainer {
    float:left;
    /* background-color: darkseagreen; */
}

.profileLicense {
    font-size: 16px;
    color: white;
}

.profileBioContainer {
    background-color: white;
    border: 2px solid #C0D6DF;
    border-radius: 10px;
    display: inline-block;
    width: 90%;
    height: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    overflow: hidden;
}

.profileBioHeaderContainer {
    background-color: #313E50;
    padding: 10px 20px;
    text-align: left;
    border-bottom: 2px solid #C0D6DF;
    color: white;
}

.profileBio {
    padding: 10px 20px;
    text-align: left;
}

.profileFavContainer {
    background-color: white;
    border: 2px solid #C0D6DF;
    border-radius: 10px;
    display: inline-block;
    width: 90%;
    height: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    overflow: hidden;
}

.profileFavHeaderContainer {
    background-color: #313E50;
    padding: 10px 20px;
    text-align: left;
    border-bottom: 2px solid #C0D6DF;
    color: white;
}

.favouritesContainer {
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    /* background-color: forestgreen; */
    padding: 25px 0px;
}

.favouriteContainer {
    display: inline-block;
    border-radius: 10px;
    margin: 0 auto;
    width: 90%;
    /* background-color: #313E50; */
    border: 2px solid #C0D6DF;
    color: white;
    margin-top: 20px;
    overflow:hidden;
}

.siteHeaderContainer {
    background-color: #313E50;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #C0D6DF;
}

.siteHeader {
    padding: 10px 0px 0px 0px;
    font-size: 22px;
}

.siteHeader:hover {
    color: #C0D6DF;
}

.siteImage {
    float: left;
    object-fit: cover;
    width: 100%;    
    height: 100%;
    
    transition: 0.5s ease;
}

.siteImage:hover {
    transform:scale(1.2);
}

.siteImageContainer {
    width: 100%;
    height: 30vh;
    overflow:hidden;
}

@media screen and (max-width: 700px) {
    .profilePageContainer {
        width: 100vw;
    }

    .profilePictureContainer {
        float:left;
        /* border: 2px solid yellow; */
        margin-left: 0px;
        margin-top: 0px;
        width: 100px;
        height: 100px;
    }


    .profileNameContainer {
        float:left;
        position: relative;
        width: 68%;
        height: 50px;
        text-align: left;
        justify-content: center;
        margin-top: 15px;
        /* border: 2px solid green; */
    }
    
    .profileName {
        font-size: 32px;
        position: absolute;
        bottom: -10px;
        left: 0px;
    }

    .profileLocationContainer, .profileSpanContainer, .profileLicenseContainer {
        height: 20px;
    }

    .profileLocation {
        font-size: 12px;
    }
    
    .profileSpan {
        font-size: 12px;
    }
    
    .profileLicense {
        font-size: 12px;
    }

    .profileEditContainer {
        display: none;
    }

}

@media screen and (min-width: 701px) and (max-width: 800px) {

    .profilePageContainer {
     
        width: 100vw;
     
    }
    .profileNameContainer {
        width: 72%;
    }

}


@media screen and (min-width: 801px) and (max-width: 1280px) {

    .profilePageContainer {
     
        width: 80vw;
     
    }

    .profileNameContainer {
        float:left;
        position: relative;
        width: 74%;
        height: 50px;
        text-align: left;
        justify-content: center;
        margin-top: 15px;
        /* border: 2px solid green; */
    }
    
    .profileName {
        font-size: 48px;
        position: absolute;
        bottom: -10px;
        left: 0px;
    }

    
    
    .profileLocation {
        font-size: 14px;
    }
    
    .profileSpan {
        font-size: 14px;
    }
    
    .profileLicense {
        font-size: 14px;
    }

    .profileEditContainer {
        float:right;
        margin-right: 3%;
    }
    
    .profileEdit {
        font-size: 14px;
    }

}
