body {
    background-color: ghostwhite;
}

.hrContainer {
    float:left;
    width: 100%;
    padding: 1vw;
    /* border: 1px solid yellow; */
}

hr {
    margin: 0 auto;
    border: 1px solid #003F91;
    width: 100%;
}

.profileContainer {
    display: inline-block;
    margin: 0 auto;
    width: 60vw;
    height:auto;
    background-color: white;
    border-left: 2px solid #003F91;
    border-right: 2px solid #003F91;
}

.coverPhotoContainer {
    margin: 0 auto;
    padding-top: 2vw;
    width:100%;
    height: 12vw;
    background-image: url('../../images/backgroundImages/bgImage004.jpg');
    background-position: center;
    background-size: cover;
}

.profilePicture {
    border-radius:150vw;
    width: 100%;
    height: 100%;
    border: 3px solid lightgrey;
}

.profilePictureContainer {
    float:left;
    /* display: inline-block; */
    margin: 4vw 0vw 0vw 1vw;
    width: 10vw;
    height: 10vw;
    /* border: 1px solid yellow; */
}

.profileNameContainer {
    float:left;
    width: 80%;
    padding-top: 0vw;
    padding-left: 1vw;
    padding-bottom: 0vw;
    height: 5vw;
    margin-top: 5.5vw;
    /* border: 1px solid yellow; */
}

.profileName {
    float:left;
    font-size: 3.5vw;
    color: white;
}

.profileLocationContainer {
    float:left;
    /* display: inline-block; */
    /* border: 1px solid yellow; */
    width: auto;
    height: 2.5vw;
}

.profileLocation {
    float: left;
    padding: 0.7vw 0vw 0vw 1vw;
}

.profileSpanContainer {
    float:left;
    /* display: inline-block; */
    /* border: 1px solid yellow; */
    width: auto;
    height: 2.5vw;
}

.profileSpan {
    padding: 0vw 0.5vw 0vw 0.5vw;
    font-size: 1.5vw;
}

.profileLicenseContainer {
    float:left;
    /* display: inline-block;  */
    /* border: 1px solid yellow;  */
    padding: 0.7vw 0vw 0vw 0vw;
    width: 30%;
    height: 2.5vw;
}

.profileLicense {
    float: left;
    padding: 0vw 0vw 0vw 0vw;
}

.profileBioContainer {
    display: inline-block;
    margin: 0 auto;
    /* display: inline-block;  */
    border: 0.1vw solid #003F91;
    border-radius: 0.5vw;
    width:85%;
    height: 15vw;
    overflow: hidden;
    box-shadow: 2px 2px 10px black;
}

.profileBioHeader {
    padding: 0.5vw 0vw 0.5vw 2.5vw;
    text-align: left;
    border-bottom: 2px solid lightgrey;
    font-size: 26px;

}

.profileBio {
    padding: 0.5vw 0vw;
    text-align: left;
    width: 90%;
    height: 75%;
    margin: 0 auto;
    font-size: 16px;
    word-wrap: none;
    /* background-color: mediumorchid; */
}


.profileFavContainer {
    display: inline-block;
    margin: 0 auto;
    margin-top: 20px;
    /* display: inline-block;  */
    border: 0.1vw solid #003F91;
    border-radius: 0.5vw;
    width: 85%;
    height: auto;
    overflow: scroll;
    box-shadow: 2px 2px 10px black;
}

.profileFavHeaderContainer {
    width: 50vw;
    height:3vw;
    background-color: white;
    border-bottom: 2px solid lightgrey;
    position: absolute;
    padding-top:0.5vw;
    margin-left: 0.3vw;
}

.profileFavHeader {
    /* display: inline-block; */
    margin-left: 0 auto;
    border-radius: 0.5vw 0.5vw 0vw 0vw;
    font-size: 26px;

}

.favouritesContainer {
    overflow: scroll;
    background-color: ghostwhite;
    margin-top:50px;

}

.favouriteContainer {
    display: block;
    width: 95%;
    height: 350px;
    margin: 0 auto;
    margin-top:0.5vw;
    margin-bottom:0.5vw;
    border: 2px solid black;
    border-radius: 0.5vw;
    overflow:hidden;
    /* background-color: green; */
}

.favouritePicture {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.siteHeader {
    font-size: 1.2vw;
    padding: 0.5vw 0vw 0vw 0vw;
    /* background-color: gold; */
    width: 100%;
    display: inline-block;
}

.siteHeader:hover {
    color: #003F91;
    /* font-size: 1.2vw;
    padding: 0.5vw 0vw 0vw 0vw;
    background-color: gold;
    width: 100%;
    display: inline-block; */
}



@media screen and (max-width: 800px) {

    .profileContainer {
        width: 100vw;
        height: auto;
    }

    .hrContainer {
        margin-top: 15px;
    }

    .coverPhotoContainer {
        height: 200px;
    }

    .profilePictureContainer {

        margin: 125px 0vw 0vw 5px;
        width: 100px;
        height: 100px;
        /* background-color: red; */

    }

    .profileNameContainer {
        width: 200px;
        height:39px;
        margin-top: 145px;
         /* background-color: lightgreen;  */
        /* border: 1px solid yellow; */
    }
    
    .profileName {
        font-size: 32px;
    }

    .profileLocationContainer {

        height: auto;
    }
    
    .profileLocation {
        padding: 0.7vw 0vw 0vw 0vw;
        font-size: 11px;
    }

    .profileLicenseContainer {
        padding: 0.7vw 0vw 0vw 0vw;
        width: auto;
        height: auto;
        /* background-color: red; */
    }
    
    .profileLicense {
        padding: 0vw 0vw 0vw 0vw;
        font-size: 11px;

    }

    .profileSpanContainer {
        height: 2.5vw;
    }
    
    .profileSpan {
        padding: 0vw 5px 0vw 5px;
        font-size: 16px;
    }
    


    .profileBioContainer {
        margin: 0 auto;
        margin-top: 10px;
        width:95%;
        height: 250px;
        box-shadow: 2px 2px 10px black;
    }
    
    .profileBioHeader {
        margin: 1vw 0vw 0vw 0vw;
        font-size: 24px;
        text-align: left;
        padding: 0px 0px 5px 20px;
        width: 100%;
        border-bottom: 2px solid lightgrey;
    }
    
    .profileBio {
        font-size:16px;
    }
    
    .profileFavContainer {
       
        /* display: inline-block;  */
        border: 0.1vw solid #003F91;
        border-radius: 0.5vw;
        width: 95%;
        height: auto;
        margin: 2.5vw 2.5vw;
        overflow: scroll;
        box-shadow: 2px 2px 10px black;
    }
    
    .profileFavHeaderContainer {
        width: 92vw;
        height:6vw;
        background-color: white;
        border-bottom: 1px solid black;
        position: absolute;
        padding-top:0.5vw;
        margin-left: 0.5vw;
    }
    
    .profileFavHeader {
        /* display: inline-block; */
        margin-left: 0 auto;
        border-radius: 0.5vw 0.5vw 0vw 0vw;
        font-size: 4vw;
    
    }
    
    .favouritesContainer {
     
        margin-top:6.5vw;
    
    }
    
    .favouriteContainer {
        display: block;
        width: 95%;
        height: 52vw;
        margin: 0 auto;
        margin-top:0.5vw;
        margin-bottom:0.5vw;
        border: 2px solid black;
        border-radius: 0.5vw;
        overflow:hidden;
        /* background-color: green; */
    }
    
    .favouritePicture {
        display: inline-block;
        object-fit: cover;
        
    
    }
    
    .siteHeader {
        font-size: 3vw;
        padding: 0.5vw 0vw 0vw 0vw;
        /* background-color: gold; */
        width: 100%;
        display: inline-block;
    }

    
}

@media screen and (min-width: 801px) and (max-width: 1280px) {
    .profileContainer {
        width: 80vw;
    }

    .profileLocationContainer {
        height: 2.5vw;
    }
    
    .profileLocation {
        padding: 1vw 0vw 0vw 1vw;
        font-size: 14px;
    }

    .profileLicenseContainer {
        padding: 0vw 0vw 0vw 0vw;
        width: 40%;
        height: 2.5vw;
    }
    
    .profileLicense {
        padding: 1vw 0vw 0vw 0vw;
        font-size: 14px;
    }

    .profileSpanContainer {
        height: 2.5vw;
    }
    
    .profileSpan {
        padding: 0vw 0.5vw 0vw 0.5vw;
        font-size: 22px;
    }
    
    .profileBioContainer {
        margin: 0 auto;
        height: 200px;
        width: 85%;
        margin-top: 25px; 
        box-shadow: 2px 2px 10px black;
    }
    
    .profileBioHeader {
        margin: 1vw 0vw 0vw 0vw;
        font-size: 24px;
    }
    
    .profileBio {
        font-size: 14px;
    }
    
    .profileFavContainer {
        margin: 0 auto;
        width: 85%;
        height: auto;
        margin-top: 10px;
    }
    
    .profileFavHeaderContainer {
        width:66%;
        height:6vw;
        background-color: white;
        border-bottom: 1px solid black;
        position: absolute;
        padding-top:0.5vw;
        margin-left: 0.5vw;
    }
    
    .profileFavHeader {
        font-size: 3vw;    
    }
    
    .favouritesContainer {
     
        margin-top:6.5vw;
    
    }
    
    .favouriteContainer {
        display: block;
        width: 95%;
        height: 52vw;
        margin: 0 auto;
        margin-top:0.5vw;
        margin-bottom:0.5vw;
        border: 2px solid black;
        border-radius: 0.5vw;
        overflow:hidden;
        /* background-color: green; */
    }
    
    .favouritePicture {
        display: inline-block;
    
    }
    
    .siteHeader {
        font-size: 2vw;
        padding: 0.5vw 0vw 0vw 0vw;
        /* background-color: gold; */
        width: 100%;
        display: inline-block;
    }

}


@media screen and (max-width: 375px) {

    .profileContainer {
        height: auto;
    }

    .profilePictureContainer {
        margin: 90px 0vw 0vw 0px;
        width: 100px;
        height: 100px;

    }

    .profileLicenseContainer {
        width: auto;
        height: auto;
        margin-top: 3px;
    }

    .profileLocationContainer {
        margin-top: 3px;
        margin-left: 5px;
    }

    .profileLicense, .profileLocation {
        font-size: 11px;
    }
    
    .profileBioHeader {
        margin: 1vw 0vw 0vw 0vw;
        font-size: 14px;
    }
    
    .profileBio {
        font-size: 12px;
        overflow: scroll;
    }

    
   

}