@import "../../sass/abstracts/variables";

.favouritesPage {
  min-height: 80vh;
  background: $color-white-pure;
}

.spinnerContainer {
  margin: 0 auto;
  width: 100vw;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0rem;
}
