@import "../../sass/abstracts/variables";

.favouritesPage {
  min-height: 80vh;
}

.spinnerContainer {
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  margin-top: 0rem;
}
