.favouritesPage {
    background-color: #576CD1;
}

.favouritesContainer {
    margin: 0 auto;
    width: 80%;
    /* background-color: #F5EFFF; */
    background-color: #F5EFFF;
    border-left: 2px solid #DBE9EE;
    border-right: 2px solid #DBE9EE;
}

@media screen and (max-width: 800px) {
    .favouritesContainer {
        width: 100%;
       
    }
}