.favouritesContainer {
    margin: 0 auto;
    width: 80%;
    background-color: white;
    border-left: 1px solid #003F91;
    border-right: 1px solid #003F91;
}

@media screen and (max-width: 800px) {
    .favouritesContainer {
        width: 100%;
       
    }
}