@import '../../../../sass/abstracts/variables';

.listContainer {
    padding: 2rem 1.5rem 2rem 1.5rem;
    &__header {
        font-size: 2.5rem;
        border-bottom: 1px solid $color-lines;
        padding-bottom: .5rem;

    }
}

.addRequestContainer {
    padding: 5rem;

    &__header {
        font-size: 2.25rem;
        font-weight: 700;
    }

    &__instructions {
        padding-top: 2rem;
        font-size: 1.8rem;
        color: $color-black;
    }
}