@import "../../sass/abstracts/variables";
@import "../../sass/abstracts/mixins";

.container {
  margin: 0 auto;
  .diveShop {
    min-height: calc(100vh - 6rem);
    margin: 0 auto;
    background: $color-white-pure;

    .banner {
      width: 100vw;
      height: 40rem;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: cover;
        transition: 0.5s ease;
        &:hover {
          transform: scale(1.05);
        }
      }
    }

    .mainGrid {
      margin: 0 auto;
      max-width: 1800px;
      padding: 0rem 15rem 10rem 15rem;
      display: grid;
      grid-template-rows: max-content max-content;
      grid-template-columns: 1fr;

      @include respond(phone) {
        padding: 0rem 2rem 10rem 2rem;
        grid-auto-rows: max-content;
        grid-template-columns: 1fr;
      }

      &__topContainer {
        margin-bottom: -6rem;
        display: flex;

        @include respond(phone) {
          padding-bottom: 2.5rem;
        }

        .imageContainer {
          grid-row: 1 / -1;
          grid-column: 1 / 2;

          background: white;
          border-radius: 50%;
          overflow: hidden;
          transform: translateY(-7rem);
          width: 20rem;
          height: 20rem;
          border: 2px solid rgba($color-lines, 0.3);

          img {
            width: 100%;
            height: 100%;
            transition: 0.5s ease;

            &:hover {
              transform: scale(1.1);
            }
          }
        }

        .shopInfo {
          margin: 1rem 0rem 0rem 1rem;
          display: grid;
          grid-template-rows: repeat(3, max-content);
          grid-template-columns: 1fr;
          grid-gap: 1rem;

          .nameContainer {
            grid-row: 1 / 2;
            grid-column: 2 / 3;

            h2 {
              font-size: 3rem;
              font-family: $font-1-style;
              font-weight: $font-bold;
            }
          }

          .addressContainer {
            grid-row: 2 / 3;
            grid-column: 2 / 3;

            display: flex;
            align-items: center;
            margin-left: -0.5rem;

            a {
              margin-left: 1rem;
              font-size: 1.6rem;
              font-family: $font-3-style;
              font-weight: $font-med;
              color: $color-text-darkgrey;
              transition: 0.2s ease;

              &:hover {
                text-decoration: underline;
                color: $color-text-blue;
              }
            }
          }

          .websiteContainer {
            grid-row: 3 / 4;
            grid-column: 2 / 3;
            display: flex;
            align-items: center;
            margin-left: -0.5rem;

            a {
              margin-left: 1rem;
              font-size: 1.6rem;
              font-family: $font-3-style;
              font-weight: $font-med;
              color: $color-text-darkgrey;
              transition: 0.2s ease;

              &:hover {
                text-decoration: underline;
                color: $color-text-blue;
              }
            }
          }
        }
      }

      &__bottomContainer {
        display: grid;
        grid-template-rows: max-content;
        grid-template-columns: 1fr 0.5fr;
        border-top: 1px solid $color-lines;

        @include respond(phone) {
          grid-auto-rows: max-content;
          grid-template-columns: 1fr;
        }

        .leftGrid {
          grid-row: 1 / -1;
          grid-column: 1 / 2;
          padding: 2rem 1rem;

          @include respond(phone) {
            grid-row: 2 / 3;
            grid-column: 1 / 2;
          }

          &__diveSitesHeader {
            h3 {
              font-size: 1.8rem;
              font-family: $font-1-style;
              font-weight: $font-med;
              color: $color-black;
              margin-bottom: 2rem;
            }
          }

          &__diveSites {
            //background: $color-white-pure;
            //padding: 1.5rem 2.5rem;
            //box-shadow: 2px 2px 10px rgba($color-black, 0.25);
            //border-radius: 1rem;
            //overflow: hidden;
          }

          &__noSites {
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            align-items: center;
            padding: 0rem 5rem;
            min-height: 10.5rem;
          }

          &__noSitesText {
            font-size: 1.6rem;
            font-family: $font-1-style;
            font-weight: $font-med;
            color: $color-text-darkergrey;
          }

          &__noSitesContact {
            font-size: 1.2rem;
            font-family: $font-3-style;
            font-weight: $font-normal;
            color: $color-text-darkgrey;
          }
        }
        .rightGrid {
          grid-row: 1 / -1;
          grid-column: 2 / 3;
          padding: 2rem 1rem;
          display: grid;
          grid-template-rows: repeat(6, max-content);
          grid-template-columns: 1fr;

          @include respond(phone) {
            grid-row: 1 / 2;
            grid-column: 1 / 2;
          }

          &__contactInfoHeader {
            grid-row: 1 / 2;
            grid-column: 1 / -1;

            h3 {
              font-size: 1.8rem;
              font-family: $font-1-style;
              font-weight: $font-med;
              color: $color-black;
              margin-bottom: 2rem;
            }
          }

          &__phoneContainer,
          &__emailContainer {
            background: $color-white-pure;
            box-shadow: 2px 2px 10px rgba($color-black, 0.25);
            border-radius: 1rem;
            overflow: hidden;
            padding: 1rem 2.5rem;
            display: flex;
            align-items: center;
            margin-bottom: 1rem;

            a {
              font-size: 1.6rem;
              margin-left: 1rem;
              font-family: $font-3-style;
              font-weight: $font-med;
              color: $color-text-darkergrey;
              transition: 0.2s ease;

              &:hover {
                color: $color-text-blue-hover;
              }
            }
          }

          &__phoneContainer {
            grid-row: 2 / 3;
            grid-column: 1 / -1;
          }

          &__emailContainer {
            grid-row: 3 / 4;
            grid-column: 1 / -1;
          }

          .socialsContainer {
            grid-row: 4 / 5;
            grid-column: 1 / -1;

            display: flex;
            justify-content: space-between;

            &__facebookContainer,
            &__twitterContainer,
            &__instagramContainer {
              background: $color-white-pure;
              box-shadow: 2px 2px 10px rgba($color-black, 0.25);
              border-radius: 1rem;
              overflow: hidden;
              padding: 1rem 1.5rem;

              &:hover {
                .icon {
                  transform: scale(1.1);
                }
              }
            }
          }

          &__mapHeader {
            grid-row: 5 / 6;
            grid-column: 1 / -1;
            margin-top: 2rem;
            padding-left: 1rem;
            font-size: 1.8rem;
            font-family: $font-1-style;
            font-weight: $font-med;
            color: $color-black;
            padding-top: 2rem;
            border-top: 1px solid $color-lines;
          }

          &__map {
            margin-top: 1rem;
            grid-row: 6 / 7;
            grid-column: 1 / -1;
            height: 30rem;
            box-shadow: 2px 2px 10px rgba($color-black, 0.25);
            border-radius: 1rem;
            overflow: hidden;
          }
        }
      }
    }
  }

  .icon {
    width: 2rem;
    height: 2rem;

    g path,
    path {
      fill: $color-text-darkergrey;
    }

    &__facebook,
    &__instagram,
    &__twitter {
      width: 2rem;
      height: 2rem;
    }

    &__location,
    &__phone,
    &__email,
    &__website {
    }

    &__phone {
    }

    &__email {
    }

    &__website {
    }

    &__facebook {
      g path {
        fill: #3b5998 !important;
      }
      transition: 0.2s ease;
    }

    &__instagram {
      g path {
        fill: #dd2a7b !important;
      }
      transition: 0.2s ease;
    }

    &__twitter {
      g path {
        fill: #00acee !important;
      }
      transition: 0.2s ease;
    }
  }

  .spinnerContainer {
    margin: 0 auto;
    width: 100vw;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0rem;
  }
}
