.locateButton {
    position: absolute;
    top: 10vh;
    left: 80vw;
    z-index: 10;
    border-radius: 10%;
    /* padding: 0.5vw 1vw; */
    height: 50px;
    width: 55px;
    transition: 1s ease;
    border-radius: 0vw 0.2vw 0.2vw 0vw;
    background-color: #576CD1 ;

}

.icon {
    transform: scale(1.5);
    color: #F5EFFF;
    /* background-color: lightgreen; */
}


@media screen and (min-width: 801px) and (max-width: 1279px) { 
    .locateButton {
        height: 4vh;
 
    
    }
}

@media screen and (max-width: 800px) { 

    .icon {
        transform: scale(1.2);
        /* background-color: lightgreen; */
        margin-bottom:10px;
    }

    .locateButton {
        height: 30px;
    }

    .locateButton {
        margin-top: 10vh;
    }
}
