//* COLORS

$color-white-pure: #fff;
$color-white: #eee;
$color-white-bg: #fdfdfd;

$color-black-pure: #000;
$color-black: #0a0a0a;
$color-black-infoWindow-bg: #eeeeee;

//* NAVIGATION

$color-nav-bg: #f5f5f5;
$color-nav-bg-hover: #eeeeee;

$login-nav-color-solid: #057bbe;
$login-nav-color: linear-gradient(to bottom, #1792d7, #057bbe);
$link-nav-hover: #e9eaec;

$nav-list-icon-color: #2d7ac0;
$nav-list-icon-color-hover: #1a81e0;

//*SEARCH
$search-btn-color: #2a85da;
$search-btn-color-hover: #226bf3;

//*LOGIN & SIGNUP FORMS
$login-color-drawer-btn: linear-gradient(to bottom, #35adf0, #1393db);

//* FOOTER
$color-footer-bg: linear-gradient(to bottom, #19295c, #0e1f57);
$color-footer-text: #9c9c9c;

//* BUTTON COLORS
$color-btn-primary: linear-gradient(to bottom, #0863ce, #0870ea);
$color-btn-cancel: #f4f4f4;
$color-btn-add: linear-gradient(
  to bottom,
  rgba(#2be043, 0.75),
  rgba(#15d12e, 0.75)
);

$color-btn-delete: linear-gradient(to bottom, #dc0101, #cd2626);

//* WEATHER CONTAINER

$weather-border-color: #d2d2d2;

//* TEXT COLORS
$color-link-grey: #c1b6b6;
$color-text-grey: #b1b1b1;
$color-text-darkgrey: #a8a8a8;
$color-text-darkergrey: #888686;
$color-input-bg: #f0f0f0;
$color-text-red: #de300a;
$color-text-red-hover: #de0a0a;
$color-text-blue: #0769c3;
$color-text-blue-hover: #1263fa;
$color-text-green: #08dc5d;
$color-text-green-hover: #08dc3d;

//* LINE & BORDER COLORS
$color-lines: #d7d7d7;
$color-lines-hover: #b6b6b6;
$color-lines-focus: #666666;
$image-border-color-infoPanel: #a8a8a8;

//* FONTS

$font-bold: 700;
$font-med: 500;
$font-normal: 400;
$font-light: 300;

$font-1-style: "Rubik", sans-serif; // Headings
$font-2-style: "Mitr", sans-serif; // Sub headings
$font-3-style: "Catamaran", sans-serif;
