//* COLORS

$color-white-pure: #fff;
$color-white: #eee;
$color-white-bg: #FDFDFD;

$color-black-pure: #000;
$color-black: #0a0a0a;

$login-nav-color: linear-gradient(to bottom, #1792d7, #057BBE);  
$signup-nav-color: linear-gradient(to bottom, #CD800D, #C26900);  
$login-color-drawer-btn: linear-gradient(to bottom, #35ADF0, #1393DB);  
$search-btn-color: #2A85DA;
$search-btn-color-hover: #226bf3;

$color-footer-bg: linear-gradient(to bottom, #2F4267, #2A3551);
$color-footer-text: #9C9C9C;

$color-nav-bg: #F5F5F5;


$color-link-grey: #C1B6B6;
$color-text-grey: #B1B1B1;
$color-text-darkgrey: #A8A8A8;
$color-text-darkergrey: #888686;
$color-text-red: #DE300A;
$color-text-blue: #0769C3;

$color-lines: #D7D7D7;

$color-btn-primary: linear-gradient(to bottom, #0863CE, #0870EA);
$color-btn-cancel: #F4F4F4;
$color-btn-add: linear-gradient(to bottom, #15C25A, #08DC5D);
$color-btn-delete: linear-gradient(to bottom, #DC0101, #CD2626);


$image-border-color-infoPanel: #A8A8A8;
//* FONTS