@import "../../../../sass/abstracts/variables";

.listContainer {
  padding: 2rem 1.5rem 2rem 1.5rem;
  &__header {
    font-size: 2.5rem;
    border-bottom: 1px solid $color-lines;
    padding-bottom: 0.5rem;
  }
}

.mySitesHome {
  padding: 2rem;
  padding-bottom: 7.5rem;
  position: relative;
  background: url("../../../../assets/images/AddDiveSiteBG.svg");
  background-position: cover;
  height: 100%;
  &__header {
    font-size: 3.5rem;
    font-weight: 500;
    padding-bottom: 0.5rem;
    padding-left: 1rem;

    font-family: $font-1-style;
    font-weight: $font-bold;
    color: #0a339e;
    text-shadow: 5px 5px 5px rgba($color-text-darkergrey, 0.25);
  }

  &__duplicate,
  &__gather,
  &__contact {
    display: flex;
    align-items: center;
    padding: 2rem 2rem;

    .text {
      font-size: 1.8rem;
      font-family: $font-3-style;
      font-weight: $font-med;
      color: $color-black;
      flex-basis: 100%;
      text-shadow: 5px 5px 5px rgba($color-text-darkergrey, 0.25);
    }

    .image {
      flex-basis: 80%;
      transform: scale(1.1);
    }
  }

  &__stepsContainer {
    padding: 2.5rem 0rem;
    display: flex;
    justify-content: space-around;
    .step {
      position: relative;
      border: 3px solid $color-text-blue;

      box-shadow: 2px 2px 5px rgba($color-black, 0.45);
      border-radius: 1rem;
      padding: 1.5rem 0rem;
      color: $color-text-blue;
      fill: $color-text-blue;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 20rem;
      transition: 0.3s ease;

      &:hover {
        transform: scale(1.05);
        box-shadow: 2px 4px 7px rgba($color-black, 0.25);
        border: 3px solid $color-text-blue;
        background: $color-text-blue;
        color: $color-white-pure;
      }

      &__number {
        font-size: 2rem;
        font-weight: 700;
        position: absolute;
        top: 0.25rem;
        left: 1rem;
      }

      &__icon {
      }

      &__text {
        width: 80%;
        text-align: center;
        padding-top: 1rem;
        font-size: 1.4rem;
        font-weight: 500;
        font-family: $font-1-style;
        font-weight: $font-med;
      }
    }
  }
}

.addRequestContainer {
  padding: 5rem;

  &__header {
    font-size: 2.25rem;
    font-weight: 700;
  }

  &__instructions {
    padding-top: 2rem;
    font-size: 1.8rem;
    color: $color-black;
  }
}

.diveShopBtnContainer {
  display: flex;
  justify-content: center;
  padding-top: 2rem;

  .diveShopBtn {
    font-size: 1.4rem;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    border-radius: 0.5rem;
    transition: 0.2s ease;
    box-shadow: 0px 0px 0px 2px $color-text-blue inset;
    text-align: center;
    background: transparent;
    outline: none;
    text-decoration: none;

    color: $color-text-blue;
    font-family: $font-1-style;
    font-weight: $font-med;

    &:hover {
      transform: translateY(-3px);
      color: $color-white;
      background: $color-text-blue;
    }
  }
}
