@import "../../../sass/abstracts/variables";

.previewReport {
  padding: 3rem 5rem;
  //background: orange;
  display: grid;
  grid-template-rows: repeat(6, max-content);
  grid-template-columns: 0.5fr 1fr;
  overflow: scroll;
  background: $color-white-pure;

  &__title {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    border-bottom: 1px solid $color-lines;
    h1 {
      font-size: 2rem;
      font-family: $font-1-style;
      font-weight: $font-bold;
      color: $color-black;
    }
  }

  &__backBtn {
    grid-row: 1 / 2;
    grid-column: 2 / 3;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid $color-lines;

    .backBtnSVG {
      width: 1.5rem;
      height: 1.5rem;
      fill: $color-text-grey;
      transition: 0.2s ease;

      &:hover {
        fill: $color-text-blue;
      }
    }
  }

  &__optionsContainer {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    padding: 1rem;

    .btn {
      border-radius: 0.75rem;
      margin: 1rem 0rem;
      padding: 1rem 1rem;
      color: $color-white-pure;
      font-size: 1.6rem;
      font-weight: 500;
      box-shadow: 2px 2px 5px rgba($color-black, 0.25);
      font-family: $font-3-style;
      font-weight: $font-med;

      transition: 0.3s ease;
      display: flex;
      align-items: center;

      &:hover {
        transform: scale(1.025);
      }

      &__edit {
        background: $color-btn-primary;
      }

      &__delete {
        background: $color-btn-delete;
      }

      .icon {
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;
        fill: $color-white-pure;
      }
    }
  }

  &__reportContainer {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }
}
