@import '../../sass/abstracts/variables';

.communityPhotos {
    //background: orange;
    padding: 5rem 2.5rem;
    position: relative;
    .grid {
        max-width: 1400px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: max-content;
        grid-gap: .5rem;

        .imageContainer {
            overflow: hidden;
            width: 100%;
            position: relative;

            &:hover .overlay {
                opacity: 100%;
            }
            

            .overlay {
                position: absolute;
                right: 0;
                left: 0;
                background: linear-gradient(0deg, rgba(0,0,0,0.75) 0%, rgba(255,255,255,0) 35%, rgba(255,255,255,0) 65%, rgba(0,0,0,0.75) 100%);
                height: 100%;
                opacity: 0%;
                transition: .5s ease;
            }
           
            img {
                width: 100%;
                transition: .3s ease;


               
            }
        }

        &__left, &__middle, &__right {
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-rows: max-content;
            grid-gap: .5rem;
        }

        &__left {
            //background: green;
        }

        &__middle {
            //background: yellow;
        }

        &__right {
            //background: steelblue;
        }
    }

    
}
