@import "../../../sass/abstracts/variables";
@import "../../../sass/abstracts/mixins";

.favouritesList {
  padding: 2rem 5rem;
  @include respond(phone) {
    padding: 5rem 1rem;
  }

  &__header {
    border-bottom: 1px solid $color-lines;
    padding-bottom: 1rem;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2.5rem;

    font-family: $font-1-style;
    font-weight: $font-bold;

    @include respond(phone) {
      font-size: 3.25rem;
    }
  }

  .favourites {
    display: grid;
    grid-template-rows: repeat(4, max-content);
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;

    @include respond(phone) {
      grid-template-columns: 1fr;
    }
  }

  .noFavourites {
    min-height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &__title {
      font-size: 2.5rem;
      font-family: $font-1-style;
      font-weight: $font-bold;
      color: $color-black;
    }

    &__text {
      font-size: 1.8rem;
      font-family: $font-3-style;
      font-weight: $font-med;
      color: $color-text-darkergrey;
    }

    &__icon {
      width: 2.5rem;
      height: 2.5rem;
      color: $color-text-red;
      margin: 0rem 1rem;
      animation-name: breathe;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-direction: alternate;

      @keyframes breathe {
        from {
          transform: scale(1);
        }
        to {
          transform: scale(1.2);
        }
      }
    }

    &__btn {
      font-size: 1.4rem;
      padding: 1rem 2rem;
      display: flex;
      justify-content: center;
      border-radius: 0.5rem;
      transition: 0.2s ease;
      box-shadow: 0px 0px 0px 2px $login-nav-color-solid inset;
      text-align: center;
      background: transparent;
      outline: none;
      text-decoration: none;

      color: $color-text-blue;
      font-family: $font-1-style;
      font-weight: $font-med;

      &:hover {
        transform: translateY(-3px);
        color: $color-white;
        background: $login-nav-color-solid;
      }
    }
  }
}
