
.favouritesHeader {
    font-size: 24px;
    padding-top: 25px;
}

.favListContainer {
    display: inline-block;
    margin: 0 auto;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    width:95%;
    height: 450px;
    /* background-color: hotpink; */
    border: 2px solid lightgrey;
    border-radius: 0.5vw;
    overflow: hidden;
}

.favListContainer:hover {
    border: 2px solid navy;
}

.pictureContainer {
    float:left;
    /* display:inline-block; */
    width: 40%;
    height:100%;
}

.sitePicture {
    display: inline-block;
    object-fit: contain;
    height: 100%;
}

.informationContainer {
    /* display:inline-block; */
    float:left;
    width: 60%;
    height:100%;
    /* background-color: rgb(255, 79, 35); */
    border-left: 2px solid lightgrey;
}

.topHalfContainer {
    width: 100%;
    background-color: ghostwhite;
    border-bottom: 2px solid lightgray;
}

.favouriteButtonContainer {
    float:left;
    width:10%;
    height: 50px;
}

.siteNameContainer {
    display: inline-block;
    width:90%;
    height: 50px;
    /* background-color: lightpink; */
}

.siteName {
    margin-top: 10px;
    margin-left: 25px;
    text-align: left;
    font-size: 24px;
}

.siteDescriptionContainer {
    width: 100%;
    height: 75%;
    background-color: white;
    border-bottom: 2px solid lightgrey;
    font-size: 1.2vw;
    overflow: hidden;
}

.siteDescription {
    text-align: left;
    padding: 20px;
    font-size: 16px;
}

.buttonsContainer {
    width: 100%;
    height: 100%;
    background-color: ghostwhite;
}

.moreDetailsButtonContainer {
    float:left;
    margin: 10px 20px;
}

.moreDetailsButton {
    font-size: 16px;
    width: 100%;
    height: 40px;
}

.ellipsesButtonContainer {
    float:right;
    margin: 10px 20px;
}


@media screen and (min-width: 761px) and (max-width: 1279px) {
    .siteDescriptionContainer {
        height: 70%;

    }

    .ellipsesButtonContainer {
        font-size: 12px;
        margin: 1.7vw 1vw;
    }

    .moreDetailsButton {
        font-size: 16px;
        margin: 1vw;
        padding: 4px 2px;

    }
}

@media screen and (max-width: 760px) {

    .favouriteButtonContainer {
        padding-left: 5px;
    }

    .favListContainer {
        width:95%;
        height: 40vw;
    }

    .topHalfContainer {
        height: 70%;
    }
    .siteName {
        font-size: 12px;
        margin-left: 15px;
    }    
    .siteDescription {

        font-size: 14px;
    }

    .siteDescriptionContainer {
        display: none;
    }

    .moreDetailsButtonContainer {
        margin: 2vw;
    }

    .moreDetailsButton {
        font-size: 10px;
        width: auto;
        height: 25px;

    }

    .ellipsesButtonContainer {
        font-size: 12px;
        margin: 1vw;
        padding: 4px 2px;
    }
}