.infoPanelContainer {
    /* width:30vw; */
    height:94vh;
    background-color: #dedede;
    border-right: 2px solid lightgrey;
    box-sizing: border-box;
    /* float:left; */
    display: inline-block;
    overflow: scroll;
    transition: 1s ease;
}