@import '../../sass/abstracts/variables';

.infoPanelContainer {
    width:55vw;
    position: relative;
    height:97vh;
    background-color: $color-white-bg;
    border-right: 2px solid $color-lines;
    box-sizing: border-box;
    /* float:left; */
    float:left;
    overflow: scroll;
    transition: 1s ease;
}