.infoPanelContainer {
    /* width:30vw; */
    position: relative;
    height:97vh;
    background-color: #F5EFFF;
    border-right: 2px solid #C0D6DF;
    box-sizing: border-box;
    /* float:left; */
    float:left;
    overflow: scroll;
    transition: 1s ease;
}