.siteImages {
    float:left;
    background-color: magenta;
    border:1px solid grey;
    width: 20vw;    
    height:20vh;
}

.siteImage {
    object-fit: cover;
    width: 100%;    
    height:100%;
}