@import "../../../sass/abstracts/variables";

.aboutUsPage {
    .aboutUs, .mission, .overview, .guide {
        padding: 3rem 0rem;

        &__header {
            padding-bottom: 1.5rem;
        }
    }

    .header {
        font-size: 2.5rem;
        font-family: $font-1-style;
        font-weight: $font-bold;
        color: $color-black;
    }

    .text {
        font-size: 1.8rem;
        font-family: $font-3-style;
        font-weight: $font-normal;
        color: $color-text-darkergrey;
    }
}