.aboutUsPage {
    display: inline-block;
    width: 100%;
    height: auto;
    background-color: #576CD1;
}

.aboutUsPageContainer {
    display: inline-block;
    margin: 0 auto;
    width: 70%;
    height: auto;
    background-color: #DBE9EE;
    border-left: 2px solid #C0D6DF;
    border-right: 2px solid #C0D6DF;
}

.aboutUsContainer, .missionContainer, .overviewContainer, .guideContainer {
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 70%;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #C0D6DF;
    overflow: hidden;
}

.aboutUsHeaderContainer, .missionHeaderContainer, .overviewHeaderContainer, .guideHeaderContainer  {
    background-color: #313E50;
    padding: 10px;
    border-bottom: 2px solid #C0D6DF;
}

.aboutUsHeader, .missionHeader, .overviewHeader, .guideHeader  {
    color: white;
    font-size: 28px;
}

.aboutUsParagraph, .missionParagraph, .overviewParagraph, .guideParagraph  {
    text-align: left;
    padding: 25px;
    font-size: 16px;
}