@import "../../../../sass/abstracts/variables";

.diveShopsView {
  padding: 2.5rem 5rem;
}

.instructions {
  font-size: 1.6rem;
  font-weight: 500;
}

.backBtn {
  font-size: 1.6rem;
  color: $color-text-grey;
  transition: 0.3s ease;

  &:hover {
    text-decoration: underline;
    color: $color-text-blue;
  }
}
