.contactPage {
    display: inline-block;
    width: 100%;
    height: auto;
    background-color: #576CD1;
}

.contactPageContainer {
    display: inline-block;
    margin: 0 auto;
    width: 70%;
    height: 95vh;
    background-color: #DBE9EE;
    border-left: 2px solid #C0D6DF;
    border-right: 2px solid #C0D6DF;
    padding: 25px 100px;
    text-align: left;
}

.contactContainer {
    margin: 0 auto;
    width: 65%;
    height: auto;
    background-color: white;
    border: 2px solid #C0D6DF;
    border-radius: 10px;
    overflow: hidden;

}


.headerContainer {
    width: 100%;
    height: auto;
    background-color: #313E50;
    text-align: left;
    border-bottom: 2px solid #C0D6DF;
}

.contactHeader {
    padding: 25px 0px 10px 25px;
    font-size: 24px;
    color:white;
}

.descriptionContainer {
    width: 100%;
    height: auto;
    /* background-color: red; */
    text-align: left;
    /* border-bottom: 2px solid grey; */
}

.contactDescription {
    padding: 25px 25px 10px 25px;
    font-size: 16px;  
}

.socialContainer {
    width: 100%;
    height: auto;
    /* background-color: lightblue;  */
    text-align: center;
}

.fbIcon, .twitterIcon, .instaIcon {
    margin: 20px 40px;
    transform: scale(3);
    transition: 0.2s ease;
}

.fbIcon {
    color: #3b5998;
}

.twitterIcon {
    color: #38A1F3;
}

.instaIcon {
    color:  #fb3958;
}

.fbIcon:hover, .twitterIcon:hover, .instaIcon:hover, .mailIcon:hover {
    transform: scale(3.5);
}

.mailContainer {
    width: 100%;
    /* background-color: limegreen; */
    display: inline-block;
    text-align: center;
    padding: 25px 0px;
}

.mailIcon {
    display: inline-block;
    transform: scale(3);
    margin: 0 auto;
    margin-right: 50px;
    margin-left: 25px;
    color: #1985A1;
    transition: 0.2s ease;
}

.email {
    margin: 0 auto;
    margin-top: 5px;
    display: inline-block;
    font-size: 16px;
    transition: 0.2s ease;
}

.email:hover {
    transform: scale(1.1);
    color: #1985A1;
}

.aboutUsMsg {
    text-align: center;
    font-size: 16px;
}

.signUpMsg {
    text-align: center;
    font-size: 16px;
}

@media screen and (max-width:800px) {
    .contactContainer {
        width: 95%;
        margin-bottom: 50px;
    }

    .descriptionContainer {
        width: 90%;
    }
    
    .contactDescription {
        padding: 25px 0px 10px 25px;
        font-size: 14px;  
    }
    
    .fbIcon, .twitterIcon, .instaIcon {
        margin: 2vh 25px 2vh 10px;
        transform: scale(2);
    }
    
    
    .mailIcon {
        display: inline-block;
        transform: scale(2);
        margin: 0 auto;
        margin-right: 15px;
        color: #1985A1;
        transition: 0.2s ease;
    }
    
    .email {
        margin: 0 auto;
        margin-top: 5px;
        display: inline-block;
        font-size: 14px;
        transition: 0.2s ease;
    }
    
    .email:hover {
        transform: scale(1.1);
        color: #1985A1;
    }

    .aboutUsMsg {
        font-size: 14px;
    }

    .signUpMsg {
        font-size: 14px;
    }
}