@import "../../../../sass/abstracts/variables";

.form {
  padding: 5rem 10rem;
  display: grid;
  grid-template-rows: repeat(10, max-content);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;

  span {
    color: $color-lines;
    font-size: 1.6rem;
    background: $color-white-bg;
    position: absolute;
    top: -13px;
    left: 10px;
    z-index: 55;
    padding: 0rem 0.7rem;
    font-weight: 700;
    transition: 0.3s ease;
    font-family: $font-3-style;
    font-weight: $font-bold;
  }

  .input {
    width: 100%;
    background: transparent;
    border: 2px solid $color-lines;
    padding: 1.2rem 1.5rem 1rem 1.5rem;
    border-radius: 3px;
    font-size: 1.6rem;
    position: relative;
    outline: none;
    transition: 0.3s ease;
    font-family: $font-3-style;
    font-weight: $font-normal;

    &::placeholder {
      color: $color-text-grey;
    }

    &__name {
    }

    &__suburb {
    }

    &__description {
      resize: none;
    }

    &__maxDepth {
    }

    &__avgDepth {
    }

    &__minTemp {
      margin: 1rem 0rem;
    }

    &__maxTemp {
      margin: 1rem 0rem;
    }

    &__minVis {
      margin: 1rem 0rem;
    }

    &__maxVis {
      margin: 1rem 0rem;
    }

    &__experience {
      width: 100%;
    }
  }

  &__headerContainer {
    grid-row: 1 / 2;
    grid-column: 1 / -1;

    .header {
      font-size: 3rem;
      font-family: $font-1-style;
      font-weight: $font-bold;
    }
  }

  &__backBtnContainer {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .backBtn {
      font-size: 1.6rem;
      position: relative;
      top: 0px;
      left: 0px;
      padding: 0rem 0rem;
      transition: 0.2s ease;

      &:hover {
        text-decoration: underline;
        color: $color-text-blue;
      }
    }
  }

  &__nameContainer,
  &__suburbContainer,
  &__cityContainer,
  &__stateContainer,
  &__countryContainer,
  &__descriptionContainer,
  .accessContainer,
  .siteTypeContainer,
  .maxDepthContainer,
  .avgDepthContainer,
  .minTempContainer,
  .maxTempContainer,
  .minVisContainer,
  .maxVisContainer,
  .experienceContainer,
  .suitableContainer {
    position: relative;
    z-index: 52;

    &:hover .input {
      border: 2px solid $color-lines-hover;
    }
    &:hover span {
      color: $color-lines-hover;
    }

    textarea {
      height: 15rem;
    }

    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      background: transparent;
    }

    textarea:focus ~ span {
      color: $color-text-blue;
    }

    .input,
    textarea {
      &:focus {
        border: 2px solid $color-text-blue;
      }
    }
    .input:focus + span,
    textarea:focus + span {
      color: $color-text-blue;
    }
  }

  &__nameContainer {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
  }

  &__suburbContainer {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
  }

  &__cityContainer {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
  }

  &__stateContainer {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
  }
  &__countryContainer {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
  }

  &__descriptionContainer {
    grid-row: 5 / 6;
    grid-column: 1 / -1;
  }

  &__section1 {
    grid-row: 6 / 7;
    grid-column: 1 / -1;

    display: grid;
    grid-template-rows: max-content max-content;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;

    .accessContainer {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      display: flex;
      align-items: center;

      position: relative;
      z-index: 52;

      span {
        color: $color-lines;
        font-size: 1.6rem;
        background: $color-white-bg;
        position: absolute;
        top: -13px;
        left: 10px;
        z-index: 55;
        padding: 0rem 0.7rem;
        font-weight: 700;
      }

      &__input {
      }
    }
    .siteTypeContainer {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
      display: flex;
      align-items: center;

      position: relative;
      z-index: 52;

      span {
        color: $color-lines;
        font-size: 1.6rem;
        background: $color-white-bg;
        position: absolute;
        top: -13px;
        left: 10px;
        z-index: 55;
        padding: 0rem 0.7rem;
        font-weight: 700;
      }
    }

    .avgDepthContainer {
      grid-row: 1 / 2;
      grid-column: 2 / 3;
      display: flex;
      align-items: center;

      position: relative;
      z-index: 52;

      span {
        color: $color-lines;
        font-size: 1.6rem;
        background: $color-white-bg;
        position: absolute;
        top: -13px;
        left: 10px;
        z-index: 55;
        padding: 0rem 0.7rem;
        font-weight: 700;
      }
    }

    .maxDepthContainer {
      grid-row: 2 / 3;
      grid-column: 2 / 3;
      display: flex;
      align-items: center;

      position: relative;
      z-index: 52;

      span {
        color: $color-lines;
        font-size: 1.6rem;
        background: $color-white-bg;
        position: absolute;
        top: -13px;
        left: 10px;
        z-index: 55;
        padding: 0rem 0.7rem;
        font-weight: 700;
      }
    }
  }

  &__section2 {
    grid-row: 7 / 8;
    grid-column: 1 / -1;

    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;

    .temperatureContainer {
      grid-row: 1 / 2;
      grid-column: 1 / 2;

      &__title {
        font-size: 1.8rem;
        font-family: $font-1-style;
        font-weight: $font-med;
      }
    }

    .minTempContainer,
    .maxTempContainer,
    .minVisContainer,
    .maxVisContainer {
      position: relative;
      z-index: 52;

      span {
        color: $color-lines;
        font-size: 1.6rem;
        background: $color-white-bg;
        position: absolute;
        top: -3px;
        left: 10px;
        z-index: 55;
        padding: 0rem 0.7rem;
        font-weight: 700;
      }
    }

    .visibilityContainer {
      &__title {
        font-size: 1.8rem;
        font-family: $font-1-style;
        font-weight: $font-med;
      }
    }
  }

  &__section3 {
    grid-row: 8 / 9;
    grid-column: 1 / -1;

    .experienceContainer {
      position: relative;
      z-index: 52;
    }
  }

  &__section4 {
    grid-row: 9 / 10;
    grid-column: 1 / -1;

    .suitableContainer {
      position: relative;
      z-index: 52;
    }
  }

  &__cancelBtnContainer {
    grid-row: 10 / 11;
    grid-column: 1 / 2;

    display: flex;
    justify-content: flex-end;

    .cancelBtn {
      font-size: 1.8rem;
      padding: 1rem 2rem;
      display: flex;
      justify-content: center;
      border-radius: 0.5rem;
      transition: 0.2s ease;
      box-shadow: 0px 0px 0px 2px $color-text-darkgrey inset;
      text-align: center;
      background: transparent;
      outline: none;
      border: none;

      color: $color-text-darkgrey;
      font-family: $font-1-style;
      font-weight: $font-med;

      &:hover {
        transform: translateY(-3px);
        box-shadow: 0px 0px 0px 2px $color-text-darkergrey inset;
        color: $color-text-darkergrey;
        //background: $color-text-grey;
      }
    }
  }

  &__addBtnContainer {
    grid-row: 10 / 11;
    grid-column: 2 / 3;

    display: flex;
    justify-content: flex-start;

    .addBtn {
      font-size: 1.8rem;
      padding: 1rem 2rem;
      display: flex;
      justify-content: center;
      border-radius: 0.5rem;
      transition: 0.2s ease;
      box-shadow: 0px 0px 0px 2px $color-text-green inset;
      text-align: center;
      background: transparent;
      outline: none;
      border: none;

      color: $color-text-green;
      font-family: $font-1-style;
      font-weight: $font-med;

      &:hover {
        transform: translateY(-3px);
        color: $color-text-green-hover;
        box-shadow: 0px 0px 0px 2px $color-text-green-hover inset;

        //background: $login-nav-color-solid;
      }
    }
  }

  &__messageContainer {
    grid-row: 11 / 12;
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .successMsg {
      color: $color-text-green;
      font-size: 1.6rem;
    }

    .errorMsg {
      color: $color-text-red;
      font-size: 1.6rem;
    }
  }
}

.successfulContainer {
  background: $color-white-pure;
  height: calc(100vh - 1rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__header {
    font-size: 2.25rem;
    color: $color-black;
    font-family: $font-1-style;
    font-weight: $font-bold;

    padding-bottom: 2rem;
  }

  &__subheader {
    font-size: 1.6rem;
    color: $color-text-darkergrey;
    font-family: $font-3-style;
    font-weight: $font-med;

    padding-bottom: 10rem;
  }

  &__backBtn {
    font-size: 1.6rem;
    color: $color-text-blue;
    font-family: $font-3-style;
    font-weight: $font-med;
  }
}
