@import "../../../sass/abstracts/variables";


.tos {
    padding: 3rem 0rem;

    .header {
        font-size: 2.5rem;
        font-family: $font-1-style;
        font-weight: $font-bold;
        color: $color-black;
        padding-bottom: 1rem;
    }

    .paragraph {
        font-size: 1.8rem;
        font-family: $font-3-style;
        font-weight: $font-normal;
        color: $color-text-darkergrey;
    }

    &__header {
        .mainHeader {
            font-size: 3.5rem;
            font-family: $font-1-style;
            font-weight: $font-bold;
            color: $color-black;
        }
    }

    &__intro, 
    &__privacy, 
    &__services, 
    &__rego, 
    &__restrictions, 
    &__conduct, 
    &__disclaimer, 
    &__copyright,
    &__intelprop,
    &__email,
    &__comms,
    &__warranties,
    &__limitations,
    &__warrantyDisclaimers,
    &__modifications,
    &__generalTerms {
        padding: 1rem 0rem; 
    }

}