.termsPage {
    display: inline-block;
    width: 100%;
    height: auto;
    background-color: #576CD1;
}

.termsContainer {
    display: inline-block;
    margin: 0 auto;
    width: 70%;
    height: auto;
    background-color: white;
    border-left: 2px solid #C0D6DF;
    border-right: 2px solid #C0D6DF;
    padding: 25px 100px;
    text-align: left;
}

.mainHeader {
    font-size: 32px;
    color: #211A1D;
    text-align: center;
}

.header {
    font-size: 26px;
    text-align: center;
    color: #576CD1;
}

.paragraph {
    font-size: 16px;
}

.updatedContainer {
     background-color: rgb(255, 238, 0);
     display: inline-block;
     margin: 0 auto;
     padding: 10px;
     border-radius: 10px;
     border: 2px solid rgb(189, 160, 0);
     box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.45);
}