@import "../../sass/abstracts/variables";
@import "../../sass/abstracts/mixins";

.searchBar {
  background: rgb(243, 243, 243);
  color: #0a0a0a;
  display: grid;
  grid-template-rows: repeat(2, max-content);
  grid-template-columns: 0.5fr max-content;
  border-radius: 5px;
  overflow: hidden;
  width: 50rem;
  margin: 0 auto;
  @include respond(phone) {
    border-radius: 0px;
  }

  &__mainbar {
    width: 37rem;

    @include respond(phone) {
      width: 100% !important;
    }
  }

  &__searchInputContainerMain {
    padding: 0.4rem 2rem !important;
    @include respond(phone) {
      padding: 2rem 2.5rem !important;
    }
  }

  &__searchInputContainer {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    background: $color-white;
    //background: green;

    .locationText {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      font-size: 1.2rem;
      margin-bottom: 0rem;
      font-family: $font-1-style;
      font-weight: $font-bold;
      color: $color-black;

      @include respond(phone) {
        font-size: 1.8rem;
        margin-bottom: 1rem;
      }
    }

    .searchInput {
      background: $color-white;
      border: none;
      outline: none;
      font-size: 1.2rem;
      font-family: $font-3-style;
      font-weight: $font-normal;

      @include respond(phone) {
        width: 25rem !important;
        font-size: 1.8rem !important;
      }
      &__main {
        width: 26.5rem;

        &::placeholder {
          font-size: 1.2rem !important;
          color: $color-text-darkgrey;
          font-family: $font-3-style;
          font-weight: $font-normal;
          @include respond(phone) {
            font-size: 1.8rem !important;
          }
        }
      }

      &::placeholder {
        font-size: 1.4rem;
        @include respond(phone) {
          font-size: 1.8rem !important;
        }
      }

      &:focus {
        outline: none;
      }
    }
  }

  .dropdownContainer {
    //! FIX THIS
    position: absolute;
    transform: translate(-2rem, 0.2rem);
    width: 30.5rem;
    border-radius: 0px 0px 5px 5px;
    overflow: hidden;
    z-index: 75;
    //  width: 0%;
    @include respond(phone) {
      width: 80% !important;
      z-index: 100 !important;
    }

    .suggestions {
      background: $color-white;
      padding: 1.6rem 1.5rem;
      font-size: 1.2rem;

      @include respond(phone) {
        font-size: 1.8rem !important;
      }

      &:hover {
        background: $link-nav-hover;
      }
    }
  }

  &__searchBtnContainer {
    grid-row: 1 / -1;
    grid-column: 2 / 3;

    .searchBtn {
      background: #2a85da;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      padding: 1rem 2.5rem;
      transition: 0.2s ease;
      //width: 10rem;

      @include respond(phone) {
        width: 10rem !important;
      }

      &:hover {
        background: $search-btn-color-hover;
      }

      &:hover span {
        transform: scale(1.05);
      }

      .searchSVG {
        height: 1.6rem;
        width: 1.6rem;
        @include respond(phone) {
          height: 3.5rem;
          width: 3.5rem;
        }
        g path {
          fill: $color-white;
        }
      }
    }
  }
}
