.siteContainer {
    position: relative;
    width: 100%;
    height:auto;
    background-color: white;
    margin: 0 auto;
    margin-top: 1vh;
    padding: 0px;
    border: 2px solid #C0D6DF;
    border-radius: 0.5vw;
    transition: 0.2s ease;
}

.siteContainer:hover {
    border: 2px solid #576CD1;
}

.siteImage {
    float: left;
    object-fit: cover;
    width: 100%;    
    height: 100%;
    border-radius: 0.4vw 0.4vw 0vw 0vw;
    transition: 0.5s ease;
}

.siteImage:hover {
    transform: scale(1.2);
}

.siteImageContainer {
    width: 100%;
    height: 30vh;
    overflow:hidden;
}

.siteRatingsContainer {
    z-index: 20;
    position: relative;
    float: left;
    top: -31vh;
    left: 0vw;
    padding: 0;
    margin-bottom: -4vw;
    border-radius: 0vw 0.5vw 0vw 0.5vw;

}

.siteNameContainer {
    width: 100%;
    display: inline-block;
    background-color: #313E50;
    border-top: 2px solid #C0D6DF;
    border-bottom: 2px solid #C0D6DF;
    width: 100%;
}

.siteName {
    padding-top: 15px;
    font-size: 22px;
    display: inline-block;
    color: white;
}

.siteName:hover {
    color:#C0D6DF;
}

.siteDescriptionContainer {
    /* background-color: lawngreen; */
    position: relative;
    margin: 0 auto;
    width: 98%;
    height: 20vh;
    overflow: hidden;
    text-align: left;
}

.siteDescription {
    padding: 20px 10px;
    font-size: 16px;
}

.favButtonContainer {
    background-color: rgba(255, 255, 255, 0.75);
    z-index: 20;
    position: relative;
    float: right;
    top: -30vh;
    padding: 8px 10px;
    margin-bottom: -4vw;
    border-radius: 0vw 0.5vw 0vw 0.5vw;
    border-left: 2px solid #DBE9EE;
    border-bottom: 2px solid #DBE9EE;
}



.moreDetailsButtonContainer {
    position: absolute;
    bottom:0;
    right:0;
    background-color: white;

}

.moreDetailsButton {
    background-color: white;
    color:black;
    padding: 0.2vw 1vw;
    border:none;
    border-radius: 0vw;

}

.moreDetailsButton:hover {
    background-color: white;
    color:slateblue;
}


.ellipsesButtonContainer {
    float:right;
    padding: 10px 15px 10px 0px;
    /* background-color: magenta; */
}

@media screen and (max-width: 800px) {

    .panelHeader {
        font-size: 18px;
    }
    
    .siteContainer {

    }
    
    
    .siteRatingsContainer {
        z-index: 20;
        position: relative;
        float: left;
        top: -31vh;
        left: 0vw;
        padding: 0;
        margin-bottom: -14vw;
        border-radius: 0vw 0.5vw 0vw 0.5vw;

    
    }
    
    .siteNameContainer {
        width: 100%;
        display: inline-block;
        /* background-color: hotpink; */
        border-bottom: 2px solid grey;
        width: 98%;
        padding-top: 0vw;
    }
    
    .siteName {
        font-size: 16px;
        display: inline-block;
    }
    
    .siteName:hover {
        color:slateblue;
    }
    
    .siteDescriptionContainer {
        /* background-color: lawngreen; */
        position: relative;
        margin: 0 auto;
        width: 98%;
        height: 20vh;
        overflow: hidden;
        text-align: left;
    }
    
    .siteDescription {
        font-size: 12px;
    }
    
    .favButtonContainer {
        background-color: rgba(255, 255, 255, 0.75);
        width: 35px;
        height: 35px;
        z-index: 20;
        position: relative;
        float: right;
        top: -30vh;
        padding: 0.2vw 0.6vw;
        margin-bottom: -14vw;
        border-radius: 0vw 0.5vw 0vw 0.5vw;
        border-left: 1px solid grey;
        border-bottom: 1px solid grey;
    }
    
    .moreDetailsButtonContainer {
        position: absolute;
        bottom:0;
        right:0;
        background-color: white;
    
    }
    
    .moreDetailsButton {
        background-color: white;
        color:black;
        padding: 0.2vw 1vw;
        border:none;
        border-radius: 0vw;
    
    }
    
    .moreDetailsButton:hover {
        background-color: white;
        color:slateblue;
    }
    
    
    .ellipsesButtonContainer {
        float:right;
    }


}