.NavBar {
    /* background-color: #3C91E6; */
    background-color: #DBE9EE;
    height: 50px;
    width: 100%;
    display: inline-block;
    /* border-bottom: 2px solid rgb(209, 208, 208); */
    border-bottom: 2px solid #C0D6DF;
    font-size: 16px;
}

.NavBarMobile {
    display: none;
}

.uList {
    list-style: none;
    margin:0;
    padding: 0;
    width: 100%;
    text-align: center;
}

.listItem {
    display:inline-block;
    padding:0.5vw 0vw;
    margin:0.2vw 0vw;
    border-radius: 5px;
    /* margin: 0.7vw 1.9vw 0vw 0vw; */
    transition: .2s ease;
    font-size: 16px;
}
 
.listSpacer {
    display:inline-block;
}

.listSpacerRight {
    float:right;
    padding:0.7vw 0vw;
}

.listLink {
    padding: 0vw 0.6vw;
    
}

.listItemName {
    float:right;
    margin: 0.1vw 0vw 0vw 0vw;
    padding:0vw 0.5vw 0vw;
    transition: .2s ease;
    /* background-color: lightpink; */

}

.listItemRight {
    float:right;
    padding:0.5vw 0.5vw;
    margin:0.2vw 0.2vw 0vw 0vw;
    transition: .2s ease;
    border-radius: 5px;
}

.listItem a, .listItemRight a {
    text-decoration: none;
    color:black;
    font-size: 16px;
    transition: .2s ease;

}



.name {
    color: black;
    margin: 0.6vw 0vw 0.7vw 0vw;
}

.listItem a:hover,
.listItem a:active,
.listItemRight a:hover,
.listItemRight a:active {
    /* color:#3DA5D9; */
    /* -webkit-transform: scale(1.2) */
} 

.listItem:hover,
.listItem:active,
.listItemRight:hover,
.listItemRight:active{
    background-color: rgb(108, 190, 237, 0.3);
    /* transform: scale(1.1); */
    /* -webkit-transform: scale(1.2) */
}

.logo:hover {
    transform: scale(1.1);
}

.logo {
    /* background-color: aqua; */
    width: 75px;
    transition: 0.2s ease;
}

.logoItem {
    float:left;
    /* display:inline-block; */
    /* background-color: pink; */
    margin: 0.2vw 0vw 0vw 1vw ;
}

@media screen and (max-width: 800px) {
    .NavBar {
        display: none;
    }
    .NavBarMobile {
        background-color: white;
        height: 50px;
        width: 100%;
        display: inline-block;
        border-bottom: 2px solid rgb(209, 208, 208);
    }

    .uList, .listItemRight a {
        font-size: 3vw;
    }

    .logo {
        width:75px;
    }

    .listItem {
        float:left;
        /* margin: 0.2vw 8vw 0.2vw 1vw;
        padding: 0.6vw 1vw; */
        padding: none;
        margin: 0.5vw 0vw 0vw 1vw;
    }

    .toggleButton {
        transform: scale(2);
        margin: 10px 0px 0px 10px;
    }
    
    .logoItem {
        display: inline-block;
        float: none;
       
    }

    .listItemRight {
        margin: 2.5vw 0.1vw;
        padding: 0.6vw 1vw;
    }

    .listSpacerRight {
        margin: 2.5vw 0vw;
        padding: 0.6vw 1vw;
    }


  }

  @media screen and (min-width: 801px) and (max-width: 1280px) {

    .NavBar {
        height: 50px;   
    }
    
    .listItem {
      
        margin:7px 0vw;
    
    }
     
    
    .listSpacerRight {
        float:right;
        padding:10px 0vw;
    }
    
    
    .listItemName {
        margin: 6px 0vw 0vw 0vw;
    }
    
    .listItemRight {
        margin: 6px 0.2vw 0vw 0vw;
    }
    
    .listItem a, .listItemRight a {
        text-decoration: none;
        color:black;    
        font-size: 16px;
        transition: .2s ease;
    
    }
    
    .name {
        color: black;
        margin: 0.6vw 0vw 0.7vw 0vw;
    }
    
    .logoItem {
        margin: 0.2vw 0vw 0vw 2vw ;
    }

  }

