 @import '../../sass/abstracts/variables';

 .profilePage {
    background: $color-white-bg;
    max-width: 1400px;
    padding: 5rem;
    margin: 0 auto;

    display: grid;
    grid-template-rows: max-content 1fr;
    grid-template-columns: 1fr 1fr;
 
    .profile {
        grid-row: 1 / 2;
        grid-column: 1 / -1;

        display: flex;
        border-bottom: 1px solid $color-lines;

        .profileLeft {
            &__pictureContainer {
                width: 22rem;
                height: 22rem;
                border-radius: 5px;
                overflow: hidden; 

                .picture {
                    width: 100% ;
                    height: 100%;
                    object-fit: cover;
                }
    
            }
        }

        .profileRight {
            padding-left: 3rem;
            display: flex;
            flex-direction: column;

            &__nameContainer {
                
                .name {
                    font-size: 3.5rem;
                }
            }
    
            &__bioContainer {
                margin-bottom: 2rem;
                width: 70%;
                height: 7rem;
                overflow: hidden;
    
                .bio {
                    font-size: 1.6rem;
                    color: $color-text-darkergrey;
                }
            }
    
            &__locationContainer {
                display: flex;
                align-items: center;
                margin-bottom: 1.8rem;

                .icon {
                    width: 3rem;
                    height: 3rem;
                    path {
                        fill: $color-text-darkergrey;
                    }
                }
    
                .location {
                    padding-left: 1rem;
                    font-size: 1.6rem;
                    color: $color-text-darkergrey;
                }
               
            }
    
            &__experienceContainer {
                display: flex;
                align-items: center;

                .iconPin {
                    width: 3rem;
                    height: 3rem;
                }

                .icon {
                    width: 3rem;
                    height: 3rem;
                    //fill: green !important;
                    path {
                        //fill: $color-text-darkergrey;
                        fill: #4D4D4D;
                    }
                }
    
                .experience {
                    padding-left: 1rem;
                    font-size: 1.6rem;
                    color: $color-text-darkergrey;
                }
                
            }
    
            &__editContainer {
                transform: translateY(-3.5rem);
                align-self: flex-end;
                display: flex;
                
                .edit {
                    font-size: 1.4rem;
                    padding-right: 2rem;
                }

                .changePw {
                    font-size: 1.4rem;
                }
            }
    
        }

    
    }

    .reportsContainer {
        grid-row: 2 / 3;
        grid-column: 1 / 2;

        padding-top: 2rem;
        padding-right: 2rem;
        
        h3 {
            font-size: 2rem;
        }
        .noReports {
            background: $color-white-pure;
            height: 20rem;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            box-shadow: 0px 4px 10px rgba($color-black, .25);

            h4 {
                font-size: 2rem;
            }
            a, span {
                color: $color-white;
                background: $color-btn-primary;
                padding: 1.2rem 3.5rem;
                border-radius: 7px;
                font-size: 1.4rem;
                font-weight: 600;
                text-decoration: none;
                transition: .3s ease;
                box-shadow: 0px 0px 0px rgba($color-black, .25);

                &:hover {
                    transform: translateY(-3px);
                    box-shadow: 0px 4px 10px rgba($color-black, .25);

                }
            }

        }
    }

    .favouritesContainer {
        grid-row: 2 / 3;
        grid-column: 2 / 3;

        padding-top: 2rem;


        .header {
            font-size: 2rem;
        }

        .favourites {

            .favouriteContainer {
                display: grid;
                grid-template-rows: repeat(4, max-content);
                grid-template-columns: max-content 1fr 5rem;
                padding: 1rem 0rem;

                border-bottom: 1px solid $color-lines;

                &__pointContainer, &__nameContainer, &__descriptionContainer, &__ratingContainer {
                    padding-left: 1rem;
                }

                &__imageContainer {
                    grid-row: 1 / -1;
                    grid-column: 1 / 2;
                    border-radius: 5px;
                    overflow: hidden;
                    
                    .image {
                        // width: 200px;
                        // height: 150px;
                        width: 25rem;
                        height: 100%;
                        object-fit: cover;
                        transition: .5s ease;

                        &:hover {
                            transform: scale(1.2);
                        }
                    }
                }

                &__pointContainer {
                    grid-row: 1 / 2;
                    grid-column: 2 / 3;

                    .point {
                        font-size: 1.4rem;
                    }
        
                }

                &__nameContainer {
                    grid-row: 2 / 3;
                    grid-column: 2 / 3;

                    .name {
                        font-size: 2rem;
                    }
                }

                &__descriptionContainer {
                    grid-row: 3 / 4;
                    grid-column: 2 / 3;

                    .description {
                        font-size: 1.2rem;
                    }
                }

                &__ratingContainer {
                    grid-row: 4 / 5;
                    grid-column: 2 / 3;
                }

                &__moreContainer {
                    grid-row: 4 / 5;
                    grid-column: 3 / 4;
                    display: flex;
                    align-items: center;

                    .more {
                        font-size: 1.4rem;
                        color: $color-black;
                        position: relative;
                        z-index: 25;
                        &:hover {
                            color: $color-text-blue;
                            text-decoration: underline;
                        }
                       
                    }
        
                }

            }
        }
    }

}