@import "../../../sass/abstracts/variables";

.favouriteIcon {
  color: $color-text-red;
  height: 100%;
  width: 100%;
  transition: 0.2s ease;
  &:hover {
    transform: scale(1.1);
    color: $color-text-red-hover;
  }
}
