.infowindowContainer {
    border: 2px solid black;
    width:99%;
    padding: 0;
    margin: 0;
}


.buttonsContainer {
    font-size: 1.2em;
    height:5vh;
    width:100%;
    background-color: #a1a1a1;
    display: inline-flex;   
    justify-content: center;
}

.Icon {
    width:auto;
    height: 10vh;
}

.EditModal {
    width: 50vw;
    /* background-color: rgb(255, 194, 204, .5); */

    margin-top: 5vw;
    margin-left:40vw;
    max-width: none!important;
    max-height: none!important;
}

.EditModalHeader {
    
}

.EditModalBody {
    height: 35vw;
    overflow: scroll;
}

