@import '../../../sass/abstracts/variables';

// .shop:not(:last-child) {
//     border-bottom: 1px solid $color-lines;
// }

.shop {
    padding: 3rem 0rem; //? Might need to change this
    //background: orange;
    display: grid;
    grid-template-rows: repeat(5, max-content);
    grid-template-columns:max-content 1fr 1fr;

    background: $color-white-pure;
    margin: 0.75rem 0rem;
    padding: 1rem;
    border-radius: 7px;
    box-shadow: 2px 2px 5px rgba($color-black, .25);
    position:relative;

    &__link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 20;
    
        &:hover {
            text-decoration: none;
            
        }
    }


    &__imageContainer {
        grid-row: 1 / -1;
        grid-column: 1 / 2;
        border: 1px solid $image-border-color-infoPanel;
        border-radius: 3px;
        overflow: hidden;
        margin-right: 2rem;

        width: 20rem;
        height: 20rem;

        position: relative;
        z-index: 25;
        
        .image {
            width: 100%;
            height: 100%;
            transition: .5s ease;

            &:hover {
                transform: scale(1.2);
            }
            
        }
    }

    &__nameContainer {
        grid-row: 1 / 2;
        grid-column: 2 / -1;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 25;


        .shopName {
            a {
                font-size: 2.5rem;
                transition: .2s ease;
                font-family: $font-1-style;
                font-weight: $font-bold;
                color: $color-black;


                &:hover {
                    color: $color-text-blue;
                }
            }
        }
        
    }

    &__editContainer {
        grid-row: 1 / 2;
        grid-column: 3 / 4;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        z-index: 25;

        .edit {
            transition: .2s ease;

            &:hover {
                transform: scale(1.1);
            }
        
          g path { 
            fill: $color-text-darkgrey;
          }
        }
    }

    &__addressContainer {
        grid-row: 2 / 3;
        grid-column: 2 / -1;

        display: flex;
        align-items: center;
        position: relative;

        

        a {
            font-size: 1.6rem;
            margin-left: 1rem;
            font-family: $font-3-style;
            font-weight: $font-normal;
            color: $color-text-grey;
            transition: .2s ease;
            position: relative;
            z-index: 25;

            &:hover {
                color: $color-text-blue;
            }
            
        }


    }

    &__phoneContainer {
        grid-row: 3 / 4;
        grid-column: 2 / -1;

        display: flex;
        align-items: center;
        position: relative;


        a {
            font-size: 1.6rem;
            margin-left: 1rem;
            font-family: $font-3-style;
            font-weight: $font-normal;
            color: $color-text-grey;
            position: relative;
            z-index: 25;

            transition: .2s ease;

            &:hover {
                color: $color-text-blue;
            }
            
        }
    }

    &__emailContainer {
        grid-row: 4 / 5;
        grid-column: 2 / -1;

        display: flex;
        align-items: center;
        position: relative;


        a {
            font-size: 1.6rem;
            margin-left: 1rem;
            font-family: $font-3-style;
            font-weight: $font-normal;
            color: $color-text-grey;
            position: relative;
            z-index: 25;

            transition: .2s ease;

            &:hover {
                color: $color-text-blue;
            }
            
        }
    }

    &__websiteContainer {
        grid-row: 5 / 6;
        grid-column: 2 / -1;

        display: flex;
        align-items: center;
        position: relative;


        a {
            font-size: 1.6rem;
            margin-left: 1rem;
            font-family: $font-3-style;
            font-weight: $font-normal;
            color: $color-text-grey;
            position: relative;
            z-index: 25;

            transition: .2s ease;

            &:hover {
                color: $color-text-blue;
            }
        }
    }

    // .socialsContainer {
    //     grid-row: 5 / 6;
    //     grid-column: 2 / -1;

    //     display: flex;
    //     align-items: flex-end;
    //     justify-content: space-evenly;
    //     padding: 1rem;

    // }

    .icon {
        width: 2rem;
        height: 2rem;
        g path, path {
            fill: $color-text-grey;
        }
        &__location, &__phone, &__email, &__website {
            fill: $color-text-blue-hover;
        }
    
        &__phone{
            
        }
    
        &__email {
            
        }
    
        &__website {
            
        }
    
        // &__facebook {
        //     g path {
        //         fill: #3b5998 !important;
        //     }
        //     transition: .2s ease;;
        //     &:hover {
        //         transform: scale(1.2);
        //     }
        // }
    
        // &__instagram {
        //     g path {
        //         fill: #DD2A7B !important;
        //     }
        //     transition: .2s ease;;
        //     &:hover {
        //         transform: scale(1.2);
        //     }
        // }
    
        // &__twitter {
        //     g path {
        //         fill: #00acee !important;
        //     }
        //     transition: .2s ease;;
        //     &:hover {
        //         transform: scale(1.2);
        //     }
        // }
    }
}