.sitemapPage {
    display: inline-block;
    width: 100%;
    height: auto;
    background-color: ghostwhite;
}

.sitemapContainer {
    display: inline-block;
    margin: 0 auto;
    width: 70%;
    height: 95vh;
    background-color: white;
    border-left: 2px solid grey;
    border-right: 2px solid grey;
}