.sitemapPage {
    display: inline-block;
    width: 100%;
    height: auto;
    background-color: #576CD1;
}

.sitemapPageContainer {
    display: inline-block;
    margin: 0 auto;
    width: 70%;
    height: 95vh;
    background-color: #DBE9EE;
    border-left: 2px solid #C0D6DF;
    border-right: 2px solid #C0D6DF;
}

.siteMapContainer {
    margin: 0 auto;
    margin-top: 50px;
    width: 60%;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #C0D6DF;
    overflow: hidden;
}

.siteMapHeaderContainer {
    background-color: #313E50;
    border-bottom: 2px solid #C0D6DF;
    padding: 10px;
}

.siteMapHeader {
    color: white;
    font-size: 32px;
}