@import "../../../../sass/abstracts/variables";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  .deleteContainer {
    padding: 0rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__areYouSure {
      font-size: 1.8rem;
      font-weight: 500;
      padding: 0.5rem 0rem;

      font-family: $font-3-style;
      font-weight: $font-med;
      color: $color-text-darkergrey;
    }

    &__location {
      font-size: 2.5rem;
      font-weight: 700;
      padding: 0.5rem 0rem;

      font-family: $font-1-style;
      font-weight: $font-bold;
      color: $color-black;
    }

    &__on {
      font-size: 1.8rem;
      font-weight: 500;
      padding: 0.5rem 0rem;

      font-family: $font-3-style;
      font-weight: $font-med;
      color: $color-text-darkergrey;
    }

    &__date {
      font-size: 2.5rem;
      font-weight: 700;
      padding: 0.5rem 0rem;

      font-family: $font-1-style;
      font-weight: $font-bold;
      color: $color-black;
    }

    &__buttonsContainer {
      display: flex;
      width: 75%;
      justify-content: space-between;
      padding: 2rem 0rem;

      .cancel,
      .delete {
        padding: 1rem 2rem;
        font-size: 1.6rem;
        border: none;
        border-radius: 5px;
        border: 1px solid $color-lines;
        transition: 0.3s ease;
        box-shadow: 0px 0px 0px rgba($color-black, 0.5);
        outline: none;

        font-family: $font-3-style;
        font-weight: $font-med;

        &:hover {
          transform: translate(0px, -3px);
          box-shadow: 0px 3px 7px rgba($color-black, 0.3);
        }
      }

      .cancel {
        background: $color-input-bg;
        color: $color-text-darkergrey;
      }

      .delete {
        background: $color-btn-delete;
        color: $color-white;
      }
    }
  }
}
