@import "../../../../sass/abstracts/variables";
@import "../../../../sass/abstracts/mixins";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  .deleteContainer {
    padding: 0rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__areYouSure {
      font-size: 1.8rem;
      font-weight: 500;
      padding: 0.5rem 0rem;

      font-family: $font-3-style;
      font-weight: $font-med;
      color: $color-text-darkergrey;
      @include respond(phone) {
        font-size: 2.25rem;
      }
    }

    &__location {
      font-size: 2.5rem;
      font-weight: 700;
      padding: 0.5rem 0rem;

      font-family: $font-1-style;
      font-weight: $font-bold;
      color: $color-black;

      @include respond(phone) {
        font-size: 3.5rem;
      }
    }

    &__on {
      font-size: 1.8rem;
      font-weight: 500;
      padding: 0.5rem 0rem;

      font-family: $font-3-style;
      font-weight: $font-med;
      color: $color-text-darkergrey;
      @include respond(phone) {
        font-size: 2.25rem;
      }
    }

    &__date {
      font-size: 2.5rem;
      font-weight: 700;
      padding: 0.5rem 0rem;

      font-family: $font-1-style;
      font-weight: $font-bold;
      color: $color-black;
      @include respond(phone) {
        font-size: 3.5rem;
      }
    }

    &__buttonsContainer {
      display: flex;
      width: 75%;
      justify-content: space-between;
      padding: 2rem 0rem;

      .cancel {
        font-size: 1.8rem;
        padding: 1rem 2rem;
        display: flex;
        justify-content: center;
        border-radius: 0.5rem;
        transition: 0.2s ease;
        box-shadow: 0px 0px 0px 2px $color-text-darkgrey inset;
        text-align: center;
        background: transparent;
        outline: none;
        border: none;

        color: $color-text-darkgrey;
        font-family: $font-1-style;
        font-weight: $font-med;

        @include respond(phone) {
          font-size: 2.25rem;
        }

        &:hover {
          transform: translateY(-3px);
          box-shadow: 0px 0px 0px 2px $color-text-darkergrey inset;
          color: $color-text-darkergrey;
          //background: $color-text-grey;
        }
      }

      .delete {
        font-size: 1.8rem;
        padding: 1rem 2rem;
        display: flex;
        justify-content: center;
        border-radius: 0.5rem;
        transition: 0.2s ease;
        box-shadow: 0px 0px 0px 2px $color-text-red inset;
        text-align: center;
        background: transparent;
        outline: none;
        border: none;

        color: $color-text-red;
        font-family: $font-1-style;
        font-weight: $font-med;

        @include respond(phone) {
          font-size: 2.25rem;
        }

        &:hover {
          transform: translateY(-3px);
          //color: $color-white-pure;
          color: $color-text-red-hover;
          box-shadow: 0px 0px 0px 2px $color-text-red-hover inset;
          //background: $color-text-red-hover;
        }
      }
    }
  }
}
