.form {
    position: relative;
    float:left;
    width: 100%;
    margin: 0 auto;
    height: auto;
    /* background-color: greenyellow;  */
}

.commentsMainContainer {
    float:left;
    /* background-color: rgb(26, 238, 203); */
    width: 100%;
    height: 100%;

}

.commentContainer {
    height: auto;
    width:95%;
    border-bottom: 1px solid grey;
    /* background-color: pink; */

    /* background-color: coral; */
    margin: 0 auto;
    padding-top: 10px;
    margin-bottom: 5px;
    padding: 5px 0px;
}

.commentUsername {
    font-size: 16px;
}

.addCommentHeader {
    float:left;
    text-align: left;
    width: 100%;
    margin-left: 10px;
    padding-left: 30px;
    padding-top: 10px;
    /* background-color: rebeccapurple; */
    font-size: 18px;
}

.commentTextArea {
    float:left;
    margin-left: 25px;
    width: 100%;
    resize: none;
}

.commentButton, .cancelButton {
    font-size: 14px;
    float:left;
    margin-left: 25px;
}

.commentButton { 
    margin-left: 10px;
}

.commentsContainer {
    display: inline-block;
    border-top: 2px solid lightgrey;

    /* background-color: crimson;  */
    padding-top: 10px;
    width: 98%;
}

.usernameContainer {
    float:left;
    /* background-color: seagreen; */
}

.deleteButtonContainer {
    float:right;
}

.deleteButton {
    background-color: transparent;
    border: none;
    color: red;
}

.commentTextContainer {
    width: 100%;
    margin-top: 0.5vw;
    text-align: left;
    display: inline-block;
    /* background-color: pink; */
}

@media screen and (max-width: 800px) {
    .commentTextArea {
       margin-left: 10px;
       font-size: 14px;
    }

    .commentButton, .cancelButton, .deleteButton {
        font-size: 12px;
    }

    .commentUsername, .comment {
        font-size: 14px;
    }
}

@media screen and (min-width: 801px) and (max-width: 1280px) {
    .commentTextArea {
        margin-top: 1vw;
    }
    
}

