@import '../../../sass/abstracts/variables';


.navbar {
    background: $color-nav-bg;
    border-bottom: 1px solid $color-lines;    
    //height: 6rem;
    .navList {
       // max-width: 1400px;
        height: 100%;
        padding: 0.5rem 1rem;
        // display: flex;
        // justify-content: space-between;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: max-content 1fr max-content;
        //grid-gap: 10rem;

        .logoItem {
            float: left;
            height: 100%; 
            width: 100%;
            margin-right: 5rem;

            a {
                .logo {
                    height: 5rem;
                }
            }
        }

        .searchbarContainer {
            margin: 0 auto;
        }

    


        .rightNav {
           display: flex;
            //background: red;
            align-items: center;

          
            
            .mapLink {
              
                display: flex;
                align-items: center;
           box-shadow: 2px 2px 10px rgba($color-black, .25);

                background: $nav-blue-bg;
                margin-right:2rem;
                padding: .85rem;
                
                // background: pink;
                // margin-right: -5.5rem;
                //padding: .5rem;


                border-radius: 50%;
                
                background-size: 200%;
                background-position: left;
                transition: .3s ease;

                &:hover {
                    background-position: right;
                    //transform: scale(1.05);

                    a {
                        transform: scale(1.05);
                    }
                }

                a { 
                    transition: .3s ease;
                   
                    
                    .earthSVG {
                        width: 3.7rem;
                        height: 3.7rem;
                        fill: $color-white;
                    }

                    
                   
                }
            }

            
            


            .dropdownContainer {

                position: relative;
                background: $nav-blue-bg;
                border-radius: 100px;
                padding: .2rem .2rem .2rem 2rem;
                width: 17.5rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                box-shadow: 2px 2px 10px rgba($color-black, .25);

                //? Bg hover

                background-size: 200%;
                background-position: left;
                transition: .3s ease;

                &:hover {
                    background-position: right;
                   // transform: scale(1.05);

                   .usernameContainer {
                       .username {
                           transform: scale(1.05);
                           letter-spacing: .5px;
                       }
                   }
                }



                .avatar {
                    //background: green;
                    border-radius:100px;
                    overflow: hidden;

                    width: 5rem;
                    height: 5rem;
                    //border: 1px solid $color-lines;
                    

                    &__image {
                        width: 100%;
                        height: 100%;
                    }
                }

                .arrowContainer {
                    display: flex;
                    align-items: center;
                    margin-left: 1rem;
                    .arrow {
                        height: 1.5rem;
                        width: 1.5rem;
                        transition: .3s ease;
                    }
                    .rotate {
                        transform: rotate(-180deg);
                    }
                }

                .usernameContainer {
                height: 100%;
                display: flex;
                align-items: center;
                //background: orange;
                transition: .3s ease;

                &:hover {
                    color: $color-text-blue;
                    text-decoration: none;
                }

                    .username {
                        font-size: 2rem;
                        margin-right: 0rem;
                        font-weight: 400;
                        color: $color-white;
                        transition: .3s ease;

                        
                    }

                }
                
              
            }

            .dropdown {
                //display: none;
                position: absolute;
                z-index: 25;
                transition: .3s ease;
                top: 7rem;
                right: 1rem;

                //transform: translate(-5.5rem, 10.8rem); 
                // height: 22.5rem;                   
                &__content {
                    width: 25rem;
                    height: 100%;
                    background: $color-nav-bg;
                    transition: .3s ease;
                    opacity: 100%;
                    padding: 1rem 2rem;
                    border: 1px solid $color-lines;
                    border-radius: 10px;
                    position: relative;
                    @keyframes fadeInAnimation {
                        0%   {opacity: 0%;
                              height: 0%;}
                       
                        100% {opacity: 100%;
                            height: 100%;}
                    }
                    animation-name: fadeInAnimation;
                    animation-duration: .7s;
                    //animation-delay: .2s;
                    
                }
                .fade {

                    @keyframes fadeOutAnimation {
                        0%   {opacity: 100%;
                              z-index: 50;
                              height: 100%;}
                        98%  {opacity: 0%;
                              z-index: 50;
                              height: 0%;}
                        100% {opacity: 0%;
                            height: 0%;
                            z-index: -200;
                              display: none;
                             }
                    }
                    position: relative;
                    animation-name: fadeOutAnimation;
                    animation-duration: .5s;
                    opacity: 0%;
                    height: 0%;
                    z-index: -200;
                    display: none;
                    //height: 0%;
                }

                &__email {
                    display: flex;
                    flex-direction: column;
                    border-bottom: 1px solid $color-lines;
                    padding-bottom: .5rem;
                    padding-left: 2rem;

                    .title {
                        font-size: 1.2rem;
                        color: $color-text-darkergrey;
                        font-weight: 700;
                    }

                    .email {
                        font-size: 1.4rem;
                        color: $color-text-darkgrey;
                        font-weight: 400;
                    }
                }

                &__diveReports, &__mySites, &__favourites, &__profile, &__logout {
                    padding: .5rem 2rem;
                    margin: .3rem 0rem;

                    &:hover, &:hover a {
                        background: #E9EAEC;
                        border-radius: 5px;
                    }
                    
                    a {
                        position: relative;
                        font-size: 1.4rem;
                        color: #3886FC;
                        text-decoration: none;
                    }
                }

                &__profile {
                    border-bottom: 1px solid $color-lines;
                }
            }

            .close {
                transition: .5s ease;
                height: 0rem;
            }

            .dropdownContainer:hover + .arrowContainer .arrow {
                fill: $color-text-blue;
                color: $color-text-blue;
                text-decoration: none;
            }
    

            .btn {
                width: 11rem;
                font-size: 1.8rem;
                padding:1rem 2rem;
                margin: 0rem 1rem;
                display: flex;
                justify-content: center;
                border-radius: 10px;
                transition: .3s ease;
                box-shadow: 0px 0px 0px rgba($color-black, .25);


                span {
                   //width: 100%;
                   //background: pink;
                   color: $color-white;
                   text-align: center;
                }

                &:hover {
                    transform: translateY(-3px);
                    box-shadow: 2px 2px 10px rgba($color-black, .25);

                }
                
               &__login {
                       background: $login-nav-color;
               }

               &__signup {
                   background: $signup-nav-color;
               }
           }
        }
    }
}