@import '../../../sass/abstracts/variables';
.navbar {
    background: $color-nav-bg;
    border-bottom: 1px solid $color-lines;    
    .navList {
       // max-width: 1400px;
        height: 100%;
        padding: 0.2rem 2.5rem;
        // display: flex;
        // justify-content: space-between;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: max-content 1fr max-content;
        grid-gap: 15rem;

        .logoItem {
            float: left;
            height: 100%; 
            width: 100%;

            a {
                .logo {
                    height: 4rem;
                }
            }
        }

        .searchbarContainer {

        }

        .rightNav {
            display: flex;
            //background: red;
            padding: 0rem 2rem;
            .dropdownContainer {

                position: relative;
             

                .usernameContainer {
                height: 100%;
                display: flex;
                align-items: center;
                //background: orange;
                transition: .3s ease;

                &:hover {
                    color: $color-text-blue;
                    text-decoration: none;
                }

                    .username {
                        font-size: 1.6rem;
                        margin-right: .5rem;
                        font-weight: 600;

                        
                    }

                }

                .dropdown {
                    //display: none;
                    position: absolute;
                    z-index: 25;
                    transition: .3s ease;
                    transform: translate(-1.5rem, .3rem);
                    
                    &__content {
                        height: 100%;
                        width: 140%;
                        background: $color-nav-bg;
                        transition: .3s ease;
                        opacity: 100%;
                        padding: 1rem 2rem;
                        border-left: 1px solid $color-lines;
                        border-right: 1px solid $color-lines;
                        border-bottom: 1px solid $color-lines;
                        
                    }
                    .fade {
                        opacity: 0%;
                       display: none;
                        height: 0;
                    }

                    &__email {
                        display: flex;
                        flex-direction: column;
                        border-bottom: 1px solid $color-lines;
                        padding-bottom: .5rem;

                        .title {
                            font-size: 1.2rem;
                            color: $color-text-darkergrey;
                            font-weight: 700;
                        }

                        .email {
                            font-size: 1.4rem;
                            color: $color-text-darkgrey;
                            font-weight: 400;
                        }
                    }

                    &__diveReports, &__mySites, &__favourites, &__profile, &__logout {
                        padding: .5rem 0rem;
                        
                        a {
                            font-size: 1.4rem;
                            color: $color-text-darkergrey;
                            
                            &:hover {
                                color: $color-text-blue;
                                text-decoration: none;
                            }
                        }
                    }

                    &__profile {
                        border-bottom: 1px solid $color-lines;
                    }
                }
                
              
            }

            .dropdownContainer:hover + .arrowContainer .arrow {
                fill: $color-text-blue;
                color: $color-text-blue;
                text-decoration: none;
            }
          
            .arrowContainer {
                display: flex;
                align-items: center;
                margin-right: 2rem;
                .arrow {
                    height: 1.5rem;
                    width: 1.5rem;
                    transition: .3s ease;

                   
                    
                }
                .rotate {
                    transform: rotate(-90deg);
                }
            }
            


            .avatar {
                background: green;
                border-radius:100px;
                overflow: hidden;
                width: 5.5rem;
                height: 5.5rem;

                &__image {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}