@import './sass/abstracts/variables';
@import './sass/abstracts/functions';
@import './sass/abstracts/mixins';

@import './sass/base/animations';
@import './sass/base/utilities';
@import './sass/base/base';


.app {
position: relative;
width: 100vw;
overflow: hidden;
float: right;
transition: .3s ease;
//background-color: #2A85DA;
}


