.map {
    float:left;
    background-color: red;
    position: relative;
}

.overlayInfo {
    position: absolute;
    top: 90vh;
    left: 40vw;
    z-index: 10;
    border-radius: 10%;
    /* padding: 0.5vw 1vw; */
    height: 50px;
    width: auto;
    transition: 1s ease;
    border-radius: 10px;
    border: 2px solid #576CD1;
    background-color: rgba(255, 255, 255, 0.45) ;
}

.overlayText {
    padding: 10px;
}

@media screen and ( max-width: 800px ) {
    .overlayInfo {
        display:none;

    }
}