.comboboxDiv {
    position: absolute;
    top: 10vh;
    /* left: 50vw; */
    color: red;
    z-index: 10;
    margin:0;
    padding:0;
    transition: 1s ease;
}

.comboboxInput {
    /* width: 30vw; */
    height: 3vw;
    transition: 1s ease;
    border-right: none;
    padding-left: 1vw;
    border-radius: 0.2vw 0vw 0vw 0.2vw;
    
}

@media screen and (min-width: 801px) and (max-width: 1279px) { 
    .comboboxInput {
        height: 4vh;
    }
}

@media screen and (max-width: 800px) { 
    .comboboxInput {
        height: 30px;
    }

    .comboboxDiv {
        margin-top: 10vh;

    }
}