.editProfileContainer {
    display: inline-block;
    margin: 0 auto;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(97,221,255,0.7301295518207283) 52%, rgba(84,167,255,0.542454481792717) 100%);
    width: 80vw;
    height: auto;
    border-left: 2px solid lightgrey;
    border-right: 2px solid lightgrey;
}

.formContainer {
    display: inline-block;
    margin: 0 auto;
    width: 60%;
    background-color: ghostwhite;
    border: 2px solid lightgrey;
    border-radius: 1vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
}

.formHeader {
    margin-top: 2vw;
    font-size: 2vw;
}


.formRow {
    /* background-color: red; */
    padding: 1vw 0vw 0vw 2vw;
}

.formCol {
    /* background-color: green; */
}

.formInput {
    width: 20vw;
}

.formTextArea {
    width: 43.2vw;
    resize: none;
}

.filePond {
    margin: 0 auto;
    width: 90%;
}

.label {
    /* background-color: red; */
    width: 100%;
    text-align: left;
}

.labelImages {
    width: 90%;
    text-align: left;
    margin-top: 1vw;
}

.editButton {
    margin: 1vw;
    width: auto;
}

.cancelButton {
    margin: 1vw;
    width: auto;
}

@media screen and (max-width: 800px) {

    .editProfileContainer {
        width: 100vw;
        height: 97vh;
    }
    
    .formContainer {
        width: 80%;
    }

    .formHeader {
        font-size: 5vw;
    }
    
    
    .formRow {
        /* background-color: red; */
        padding: 5vw 0vw 0vw 2vw;
    }
    
    .formCol {
        /* background-color: green; */
    }
    
    .formInput {
        width: 30vw;
        font-size: 3vw;
    }
    
    .formTextArea {
        width: 98%;
        resize: none;
        font-size: 3vw;
    }
    
    .filePond {
        margin: 0 auto;
        width: 90%;
    }
    
    .label {
        /* background-color: red; */
        width: 100%;
        text-align: left;
        font-size: 3vw;
    }
    
    .labelImages {
        width: 90%;
        text-align: left;
        margin-top: 1vw;
        font-size: 3vw;
    }
    
    .editButton {
        margin: 1vw 3vw;
        width: auto;
        font-size: 3vw;
    }

}

@media screen and (min-width: 801px) and (max-width: 1280px) {
    .editProfileContainer {
        width: 100vw;
        height: 97vh;
    }
}